<article class="summary-classic" data-ani="{{ $.Site.Params.enableUiAnimation | default "true" }}">
  <div class="summary-classic__flex-box">
    <a href="{{ .Permalink }}" class="summary-classic__container">
      {{ $imagePosition := "before" }}
      {{ if or (and (eq ($.Param "languagedir") "rtl") (eq ($.Param "summaryImagePosition") "left")) (and (eq ($.Param "languagedir") "ltr") (eq ($.Param "summaryImagePosition") "right")) }}
        {{ $imagePosition = "after" }}
      {{ end }}
      {{ if eq $imagePosition "before" }}
        {{ if $.Param "image" }}
          <div class="summary-classic__image-wrapper">
            <img src="{{ $image_obj := index (.Resources.Match $.Params.image) 0 }}{{ $image_obj.Permalink }}"
                alt=""
                class="lazyload summary-classic__image"
                data-ani="{{ $.Site.Params.enableUiAnimation | default "true" }}"/>
          </div>
        {{ end }}
      {{ end }}
      <div class="summary-classic__content"
          data-dir="{{ if ne ($.Param "languagedir") "rtl" }}ltr{{ else }}rtl{{ end }}">
        <header>
          <h1 class="title">{{ .Title }}</h1>
          {{/* TODO: make this optional */}}
          {{/* TODO: change to a 'partial' (shared with tiles) */}}
          <h2 class="subtitle caption">
            {{ $dir := "ltr" }}
            {{ if eq (.Param "languagedir") "rtl" }}
              {{ $dir = "rtl" }}
            {{ end }}
            <time title="{{ i18n "tooltip-date" }}" dir="{{ $dir }}"><span class="icon-calendar"></span>{{ .Date.Format (i18n "summary-dateformat") }}&nbsp;</time>
            {{ if .Site.Params.metaInfoEdit }}
            {{ if ne (.Date.Format (i18n "summary-dateformat")) (.Lastmod.Format (i18n "summary-dateformat")) }}
            <time title="{{ i18n "tooltip-modified" }}" dir="{{ $dir }}"><span class="icon-edit"></span>{{ .Lastmod.Format (i18n "summary-dateformat") }}&nbsp;</time>
            {{ end }}
            {{ end }}
            {{ if .Site.Params.metaInfoReadingTime }}
            <span title="{{ i18n "tooltip-reading-time" }}" dir="{{ $dir }}"><span class="icon-clock"></span>{{ .ReadingTime }}&nbsp;{{ i18n "reading-time" }}&nbsp;</span>
            {{ end }}
            {{ with .Param "author" }}
            <span title="{{ i18n "tooltip-author" }}" dir="{{ $dir }}"><span class="icon-user"></span>{{ . }}</span>
            {{ end }}
          </h2>
        </header>
        <div>
          <div class="summary-classic__text p2">
            {{ with .Params.description }}
              {{ . }}
            {{ else }}
              {{ .Summary | safeHTML }}
            {{ end }}
          </div>
        </div>
      </div>
      {{ if eq $imagePosition "after" }}
        {{ if $.Param "image" }}
          <div class="summary-classic__image-wrapper">
            <img src="{{ $image_obj := index (.Resources.Match $.Params.image) 0 }}{{ $image_obj.Permalink }}"
                alt=""
                class="lazyload summary-classic__image"
                data-ani="{{ $.Site.Params.enableUiAnimation | default "true" }}"/>
          </div>
        {{ end }}
      {{ end }}
    </a>
  </div>
</article>