<article class="summary-compact" data-ani="{{ $.Site.Params.enableUiAnimation | default "true" }}">
  <div class="summary-compact__flexbox">
    <a href="{{ .Permalink }}" class="summary-compact__container">
      {{ $params := .Params }}
      <div class="summary-compact__content">
        <header>
          <h1 class="title">{{ .Title }}</h1>
          {{ if .Site.Params.summaryMeta }}
            {{/* TODO: change to a 'partial' (shared with tiles) */}}
            <div class="summary__infos caption">
              {{ $dir := "ltr" }}
              {{ if eq (.Param "languagedir") "rtl" }}
                {{ $dir = "rtl" }}
              {{ end }}
              <time title="{{ i18n "tooltip-date" }}" dir="{{ $dir }}"><span class="icon-calendar"></span>{{ .Date.Format (i18n "summary-dateformat") }}&nbsp;</time>
              {{ if .Site.Params.summaryMetaInfoEdit }}
              {{ if ne (.Date.Format (i18n "summary-dateformat")) (.Lastmod.Format (i18n "summary-dateformat")) }}
              <time title="{{ i18n "tooltip-modified" }}" dir="{{ $dir }}"><span class="icon-edit"></span>{{ .Lastmod.Format (i18n "summary-dateformat") }}&nbsp;</time>
              {{ end }}
              {{ end }}
              {{ if .Site.Params.summaryMetaInfoReadingTime }}
              <span title="{{ i18n "tooltip-reading-time" }}" dir="{{ $dir }}"><span class="icon-clock"></span>{{ .ReadingTime }}&nbsp;{{ i18n "reading-time" }}&nbsp;</span>
              {{ end }}
              {{ with .Param "author" }}
              <span title="{{ i18n "tooltip-author" }}" dir="{{ $dir }}"><span class="icon-user"></span>{{ . }}&nbsp;</span>
              {{ end }}
            </div>
            {{ if .Site.Params.summaryMetaTags }}
              {{ if $params.tags }}
              <ul class="summary__tag--wrapper">
                {{ range $params.tags }}
                  {{ if . }}
                    {{/* TODO: want to keep tags? And set as links? */}}
                    {{/*
                    <a href="{{ "tags/" | relLangURL }}{{ . | urlize }}" class="summary__tag">
                      {{ . }}
                    </a>
                    */}}
                    <li class="summary__tag">
                      {{ . }}
                    </li>
                  {{ end }}
                {{ end }}
              </ul>
              {{ end }}
            {{ end }}
          {{ end }}
        </header>
      </div>
</a>
    </div>
  </article>
