{{ $filters := isset . "filters" }}
{{ if $filters }}
  {{ $filters = eq .filters true }}
{{ end }}
<div class="tile-grid">
  <div class="grid tile-grid__container">
    <div class="grid-sizer"></div>
    {{ range .pages }}
      {{- if $filters -}}
      {{ partial "taxonomy/taxonomy-filter-item-begin" (dict "context" . "summaryShape" "tiles") }}
      {{- else -}}
      <div class="grid-item">
      {{- end -}}
        <div class="box-masonry">
          {{ $image := and (isset .Params "image") .Params.image }}
          {{ $showonlyimage := false }}
          {{ if not (eq $image false) }}
            {{ $showonlyimage = .Params.showonlyimage }}
            {{ if not (isset .Params "showonlyimage") }}
              {{ $showonlyimage = .Site.Params.showonlyimage }}
            {{ end }}
          {{ end }}
          {{ if not (eq $image false) }}
            {{ if eq $showonlyimage true }}
            <a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay">
            {{ else }}
            <a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay with-hover-icon">
            {{ end }}
            {{ $image_obj := index (.Resources.Match $image) 0 }}
              <img src="{{ $image_obj.Permalink }}" alt=""
                  class="img-responsive {{ if .Site.Params.tileInitZoom }}initzoom{{ end }} {{ if .Site.Params.tileZoom }}zoom{{ end }}">
            </a>
          {{ end }}
            <a href="{{ .Permalink }}">
              {{ if eq $showonlyimage true }}
              <div class="box-masonry-hover-text-header">
              {{ else }}
              <div class="box-masonry-text">
              {{ end }}
                {{/*
                <h5><a href="{{ .Permalink }}">{{ .Title }}</a></h5>
                */}}
                <h1>{{ .Title }}</h1>
                {{ if .Site.Params.summaryMeta }}
                  {{/* TODO: change to a 'partial' (shared with summaries) */}}
                  <div class="summary__infos caption">
                    {{ $dir := "ltr" }}
                    {{ if eq (.Param "languagedir") "rtl" }}
                      {{ $dir = "rtl" }}
                    {{ end }}
                    <time title="{{ i18n "tooltip-date" }}" dir="{{ $dir }}"><span class="icon-calendar"></span>{{ .Date.Format (i18n "summary-dateformat") }}&nbsp;</time>
                    {{ if .Site.Params.summaryMetaInfoEdit }}
                    {{ if ne (.Date.Format (i18n "summary-dateformat")) (.Lastmod.Format (i18n "summary-dateformat")) }}
                    <time title="{{ i18n "tooltip-modified" }}" dir="{{ $dir }}"><span class="icon-edit"></span>{{ .Lastmod.Format (i18n "summary-dateformat") }}&nbsp;</time>
                    {{ end }}
                    {{ end }}
                    {{ if .Site.Params.summaryMetaInfoReadingTime }}
                    <span title="{{ i18n "tooltip-reading-time" }}" dir="{{ $dir }}"><span class="icon-clock"></span>{{ .ReadingTime }}&nbsp;{{ i18n "reading-time" }}&nbsp;</span>
                    {{ end }}
                    {{ with .Param "author" }}
                    <span title="{{ i18n "tooltip-author" }}" dir="{{ $dir }}"><span class="icon-user"></span>{{ . }}</span>
                    {{ end }}
                  </div>
                  {{ if .Site.Params.summaryMetaTags }}
                    {{ if .Params.tags }}
                    <ul class="summary__tag--wrapper">
                      {{ range .Params.tags }}
                        {{ if . }}
                        {{/* TODO: want to set as links? - problems as already inside a link*/}}
                        {{/*
                        <a href="{{ "tags/" | relLangURL }}{{ . | urlize }}" class="summary__tag">
                          {{ . }}
                        </a>
                        */}}
                        <li class="summary__tag">
                          {{ . }}
                        </li>
                        {{ end }}
                      {{ end }}
                    </ul>
                    {{ end }}
                  {{ end }}
                {{ end }}
                <div class="box-masonry-description">
                  <p>
                    {{ if .Description }}
                      {{ .Description }}
                    {{ else }}
                      {{ .Summary }}
                    {{ end }}
                  </p>
                </div>
              </div>
            </a>
        </div>
      {{- if $filters -}}
      {{ partial "taxonomy/taxonomy-filter-item-end" }}
      {{- else -}}
      </div>
      {{- end -}}
    {{ end }}
  </div>
{{/* TODO: no effect? - check if no problems with taxo-filter! */}}
  {{ partial "pagination/pagination" .context }}
</div>
{{ partial "script/tiles-script" . }}
