{{ if $.Param "sidebarList" }}

{{/*TODO: remove "hr" div stuff from each component, and add it here after each loop iteration in range */}}

{{/*TODO: reason for being "ul"? */}}
<ul class="sidebar">

{{ range $index, $value := $.Param "sidebarList" }}

    {{/* 2-REC: Special "separator" for floating section */}}
    {{ if eq $value "-" }}
</ul>
<ul class="sidebar-float">
    {{ else }}
        {{/* 2-REC: removed search */}}
        {{ if eq $value "bio" }}
            {{ partial "sidebar/site-bio" $.Page }}
        {{/*TODO: include "custom" in tests? Or just include partial anyway? */}}
        {{ else if eq $value "custom" }}
            {{ partial "sidebar/custom-list" $.Page }}
        {{/*TODO: ok? */}}
        {{ else if eq $value "top" }}
            {{ partial "sidebar/list/posts-by-order" $.Page }}
        {{ else if eq $value "recent" }}
            {{/*TODO: make a partial "sidebar/recent" */}}
            {{ if and ($.Param "itemsPerCategory") ($.Param "enableListSidebarTitles") }}
                {{ range first ($.Param "itemsPerCategory") $.Pages }}
                <li class="sidebar-recent">
                    <a href="{{ .RelPermalink }}" class="sidebar-recent__title p1">{{ .Title }}</a>
                </li>
                {{ end }}
            {{ end }}
        {{ else if eq $value "tags" }}
            {{ partial "taxonomy/taxonomy-tags" $.Page }}
        {{ else if eq $value "categories" }}
            {{ partial "taxonomy/taxonomy-categories" $.Page }}
        {{ else if eq $value "series" }}
            {{ partial "taxonomy/taxonomy-series" $.Page }}
        {{ end }}
        <hr class="hr-fade sidebar-hr" />
    {{ end }}
{{ end }}
</ul>

{{ end }}