{{ if $.Param "sidebarList" }}
{{/*TODO: reason for being "ul"? */}}
<ul class="sidebar">
{{ range $index, $value := $.Param "sidebarList" }}
    {{/* 2-REC: Special "separator" for floating section */}}
    {{ if eq $value "-" }}
</ul>
<ul class="sidebar-float">
    {{ else }}
        {{/* 2-REC: removed search */}}
        {{ if eq $value "bio" }}
            {{ partial "sidebar/site-bio" $.Page }}
        {{/*TODO: include "custom" in tests? Or just include partial anyway? */}}
        {{ else if eq $value "custom" }}
            {{ if $.Param "enableSidebarCustom" }}
                {{ partial "sidebar/custom-list" $.Page }}
                {{ if $.Param "enableSidebarSeparator" }}
                <hr class="hr-fade sidebar-hr"/>
                {{ end }}
            {{ end }}
        {{/*TODO: ok? */}}
        {{ else if eq $value "top" }}
            {{ partial "sidebar/list/posts-by-order" $.Page }}
        {{ else if eq $value "recent" }}
            {{ partial "sidebar/list/recent" $.Page }}
        {{ else if eq $value "tags" }}
            {{ partial "taxonomy/taxonomy-tags" $.Page }}
        {{ else if eq $value "categories" }}
            {{ partial "taxonomy/taxonomy-categories" $.Page }}
        {{ else if eq $value "series" }}
            {{ partial "taxonomy/taxonomy-series" $.Page }}
        {{ end }}
    {{ end }}
{{ end }}
</ul>
{{ end }}