{{ if $.Param "sidebarHome" }}

{{/*TODO: remove "hr" div stuff from each component, and add it here after each loop iteration in range */}}

<div class="sidebar">

{{ range $index, $value := $.Param "sidebarHome" }}

    {{/* 2-REC: Special "separator" for floating section */}}
    {{ if eq $value "-" }}
</div>
<div class="sidebar-float">
    {{ else }}
        {{/* 2-REC: removed search */}}
        {{ if eq $value "bio" }}
            {{ partial "sidebar/site-bio" $.Page }}
        {{/*TODO: include "custom" in tests? Or just include partial anyway? */}}
        {{ else if eq $value "custom" }}
            {{ partial "sidebar/custom-home" $.Page }}
        {{/*TODO: ok? */}}
        {{ else if eq $value "top" }}
            {{ partial "sidebar/list/posts-by-order" $.Page }}
        {{ else if eq $value "recent" }}
            {{/*TODO: make a partial "sidebar/recent" */}}
            {{ if and ($.Param "itemsPerCategory") ($.Param "enableHomeSidebarTitles") }}
                {{ $filteredSections := $.Site.Sections }}
                {{ range $.Param "notAllowedTypesInHomeSidebar" }}
                    {{ $filteredSections = (where $filteredSections "Type" "!=" (lower .)) }}
                {{ end }}

                {{ range $filteredSections }}
                <section class="sidebar-recent">
                    <a href="{{ .RelPermalink }}" class="sidebar-recent__title p2">{{ .Title }}</a>
                    <ul class="sidebar-recent__ul">
                        {{ range first ($.Param "itemsPerCategory") .Pages }}
                            <li>
                                <a href="{{ .RelPermalink }}" class="sidebar-recent__a p2">{{ .Title }}</a>
                            </li>
                        {{ end }}
                    </ul>
                </section>
                {{ end }}
            {{ end }}
        {{ else if eq $value "tags" }}
            {{ partial "taxonomy/taxonomy-tags" $.Page }}
        {{ else if eq $value "categories" }}
            {{ partial "taxonomy/taxonomy-categories" $.Page }}
        {{ else if eq $value "series" }}
            {{ partial "taxonomy/taxonomy-series" $.Page }}
        {{ end }}
        <hr class="hr-fade sidebar-hr"/>
    {{ end }}
{{ end }}
</div>
{{ end }}