<div class="sidebar">
{{ $context := .context }}
{{ range $index, $value := .context.Param .sidebarComponents }}
    {{/* 2-REC: Special "separator" for floating section */}}
    {{ if eq $value "-" }}
</div>
<div class="sidebar-float">
    {{ else }}
        {{/* 2-REC: removed search */}}
        {{ if eq $value "bio" }}
            {{ partial "sidebar/site-bio" $context.Page }}
        {{ else if eq $value "custom" }}
            {{ if $context.Param "enableSidebarCustom" }}
                {{ partial "sidebar/custom-home" $context.Page }}
                {{ if $context.Param "enableSidebarSeparator" }}
                <hr class="hr-fade sidebar-hr"/>
                {{ end }}
            {{ end }}
        {{/*TODO: ok? */}}
        {{ else if eq $value "top" }}
            {{ partial "sidebar/list/posts-by-order" $context.Page }}
        {{ else if eq $value "recent" }}
            {{ partial "sidebar/list/recent-home" $context.Page }}
        {{ else if eq $value "tags" }}
            {{ partial "taxonomy/taxonomy-tags" $context.Page }}
        {{ else if eq $value "categories" }}
            {{ partial "taxonomy/taxonomy-categories" $context.Page }}
        {{ else if eq $value "series" }}
            {{ partial "taxonomy/taxonomy-series" $context.Page }}
        {{ else }}
            <script>
            var value = JSON.parse({{ $value | jsonify }});
            console.error("Component '" + value + "' not handled in 'home' sidebar => Ignored");
            </script>
        {{ end }}
    {{ end }}
{{ end }}
</div>
