{{/* TODO: reason for being "ul"? */}}
<ul class="sidebar">
{{ $context := .context }}
{{ $type := .type }}
{{ if not (isset . "type") }}
  {{ $type = "list" }}
{{ end }}
{{ range $index, $value := .context.Param .sidebarComponents }}
    {{/* Special "separator" for floating section */}}
    {{ if eq $value "-" }}
</ul>
<ul class="sidebar-float">
    {{ else }}
        {{ if eq $value "bio" }}
            {{ partial "sidebar/site-bio" $context.Page }}
        {{ else if eq $value "custom" }}
            {{ $partial := print "sidebar/custom-" $type }}
            {{ partial $partial $context.Page }}
            {{ if $context.Param "enableSidebarSeparator" }}
            <hr class="hr-fade sidebar-hr"/>
            {{ end }}
        {{/*TODO: ok? */}}
        {{ else if eq $value "top" }}
            {{ partial "sidebar/list/posts-by-order" $context.Page }}
        {{ else if eq $value "recent" }}
            {{ partial "sidebar/list/recent" $context.Page }}
        {{ else if eq $value "tags" }}
            {{ partial "taxonomy/taxonomy-tags" $context.Page }}
        {{ else if eq $value "categories" }}
            {{ partial "taxonomy/taxonomy-categories" $context.Page }}
        {{ else if eq $value "series" }}
            {{ partial "taxonomy/taxonomy-series" $context.Page }}
        {{ else if eq $value "search" }}
            {{ partial "taxonomy/taxonomy-filter" $context.Page }}
        {{ else }}
            <script>
            var value = JSON.parse({{ $value | jsonify }});
            console.error("Component '" + value + "' not handled in '{{ $type }}' sidebar => Ignored");
            </script>
        {{ end }}
    {{ end }}
{{ end }}
</ul>