{{ if $.Param "sidebarSingle" }}

{{/*TODO: ok if "div" instead of "section"? */}}
<ul class="sidebar">
{{ range $index, $value := $.Param "sidebarSingle" }}
    {{/* 2-REC: Special "separator" for floating section */}}
    {{ if eq $value "-" }}
</ul>
<ul class="sidebar-float">
    {{ else }}
        {{/* 2-REC: removed search */}}
        {{ if eq $value "bio" }}
            {{ partial "sidebar/site-bio" $.Page }}
        {{/*TODO: write a partial "toc"
        {{ else if eq $value "toc" }}
            => based on all TOC stuff from original "sidebar-single" and other toc related code)
        */}}
        {{/*TODO: include "custom" in tests? Or just include partial anyway? */}}
        {{ else if eq $value "custom" }}
            {{ if $.Param "enableSidebarCustom" }}
                {{ partial "sidebar/custom-single" $.Page }}
                {{ if $.Param "enableSidebarSeparator" }}
                <hr class="hr-fade sidebar-hr"/>
                {{ end }}
            {{ end }}
        {{/*TODO: ok? */}}
        {{ else if eq $value "top" }}
            {{ partial "sidebar/list/posts-by-order" $.Page }}
        {{ else if eq $value "recent" }}
            {{/*TODO: make a partial "sidebar/recent" */}}
            {{ if and ($.Param "enableSidebarRecent") ($.Param "itemsPerCategory") }}
                {{ range first ($.Param "itemsPerCategory") $.Pages }}
                <li class="sidebar-recent">
                    <a href="{{ .RelPermalink }}" class="sidebar-recent__title p1">{{ .Title }}</a>
                </li>
                {{ end }}
                {{ if $.Param "enableSidebarSeparator" }}
                <hr class="hr-fade sidebar-hr"/>
                {{ end }}
            {{ end }}
        {{ else if eq $value "tags" }}
            {{ partial "taxonomy/taxonomy-tags" $.Page }}
        {{ else if eq $value "categories" }}
            {{ partial "taxonomy/taxonomy-categories" $.Page }}
        {{ else if eq $value "series" }}
            {{ partial "taxonomy/taxonomy-series" $.Page }}
        {{ end }}
    {{ end }}
{{ end }}
</ul>

{{ end }}