{{ if $.Param "sidebarSingle" }}
{{/*TODO: ok if "div" instead of "section"? */}}
<ul class="sidebar">
{{ range $index, $value := $.Param "sidebarSingle" }}
    {{/* 2-REC: Special "separator" for floating section */}}
    {{ if eq $value "-" }}
</ul>
<ul class="sidebar-float">
    {{ else }}
        {{/* 2-REC: removed search */}}
        {{ if eq $value "bio" }}
            {{ partial "sidebar/site-bio" $.Page }}
        {{/*TODO: write a partial "toc"
        {{ else if eq $value "toc" }}
            => based on all TOC stuff from original "sidebar-single" and other toc related code)
        */}}
        {{ else if eq $value "custom" }}
            {{ if $.Param "enableSidebarCustom" }}
                {{ partial "sidebar/custom-single" $.Page }}
                {{ if $.Param "enableSidebarSeparator" }}
                <hr class="hr-fade sidebar-hr"/>
                {{ end }}
            {{ end }}
        {{/*TODO: ok? */}}
        {{ else if eq $value "top" }}
            {{ partial "sidebar/list/posts-by-order" $.Page }}
        {{ else if eq $value "recent" }}
            {{ partial "sidebar/list/recent" $.Page }}
        {{ else if eq $value "tags" }}
            {{ partial "taxonomy/taxonomy-tags" $.Page }}
        {{ else if eq $value "categories" }}
            {{ partial "taxonomy/taxonomy-categories" $.Page }}
        {{ else if eq $value "series" }}
            {{ partial "taxonomy/taxonomy-series" $.Page }}
        {{ else }}
            <script>
            var value = JSON.parse({{ $value | jsonify }});
            console.error("Component '" + value + "' not handled in 'single' sidebar => Ignored");
            </script>
        {{ end }}
    {{ end }}
{{ end }}
</ul>
{{ end }}