{{ if $.Param "enableSidebarBio" -}}
<section class="bio" data-dir="{{ $.Param "languagedir" | default "ltr" }}">
    {{- if ($.Param "enableBioImage" | default true) -}}
    <div class="bio__photo-wrapper">
        {{ if site.Params.useGravatar -}}
            {{- $src := printf "https://s.gravatar.com/avatar/%s?s=200" (md5 ($.Param "email")) -}}
        <img src="{{ $src }}" alt="{{ if $.Param "myname" }}{{ $.Param "myname" }}{{ else }}Avatar{{ end }}" class="bio__photo" data-ani="{{ $.Site.Params.enableUiAnimation | default "true" }}"/>
        {{ else -}}
            {{- $src := "" -}}
            {{- if $.Param "bioImage" -}}
                {{- $src = $.Param "bioImage" -}}
            {{- else if (fileExists "static/images/bio/avatar.png") -}}
                {{- $src = "images/bio/avatar.png" | relURL -}}
            {{- else if (fileExists "static/images/bio/avatar.jpg") -}}
                {{- $src = "images/bio/avatar.jpg" | relURL -}}
            {{- else if (fileExists "static/images/bio/avatar.svg") -}}
                {{- $src = "images/bio/avatar.svg" | relURL -}}
            {{- end -}}
            {{- if $src -}}
        <img data-src="{{ $src }}" alt="{{ if $.Param "myname" }}{{ $.Param "myname" }}{{ else }}Avatar{{ end }}" src="data:image/svg+xml,%0A{{ partial "svgs/etc/bio.svg" }}" class="lazyload bio__photo" data-ani="{{ $.Site.Params.enableUiAnimation | default "true" }}"/>
            {{- end -}}
        {{- end }}
    </div>
    {{ end -}}
    <div class="bio__name">
    {{- $.Param "myname" -}}
    </div>
    <div class="bio__desc">
    {{- $.Param "whoami" -}}
    </div>
    {{- if $.Param "organization" }}
    <div class="bio__info">
        <div class="bio__info--icon">
            <span class="icon-user"></span>
        </div>
        {{- $.Param "organization" -}}
    </div>
    {{- end -}}
    {{- if $.Param "location" }}
    <div class="bio__info">
        <div class="bio__info--icon">
            <span class="icon-location"></span>
        </div>
        {{- $.Param "location" -}}
    </div>
    {{- end -}}
    {{- if $.Param "email" }}
    <div class="bio__info">
        <div class="bio__info--icon">
            <span class="icon-mail-alt"></span>
        </div>
        <a href="mailto:{{ $.Param "email" }}">{{ $.Param "email" }}</a>
    </div>
    {{- end -}}
    {{- if $.Param "link" }}
    <div class="bio__info">
        <div class="bio__info--icon">
            <span class="icon-link"></span>
        </div>
        <a href="{{ $.Param "link" }}" target="_blank" rel="noreferrer">{{ $.Param "link" }}</a>
    </div>
    {{- end }}
    {{/* TODO(2-REC): want it optional? */}}
    {{/* TODO(2-REC): Handle 'phone' as 'email': remove from here and add entry above */}}
    <div class="bio__social">
    {{- range $name, $path := $.Param "socialOptions" }}
        {{- if (and $path (ne $name "email")) }}
        <a href="{{ $path | safeURL }}" target="_blank" rel="noreferrer" title="{{ $name }}" aria-label="{{ $name }}">
            {{- partial (print "svgs/social/" $name ".svg") (dict "width" 25 "height" 25) -}}
        </a>
        {{- end -}}
    {{- end }}
    </div>
</section>
{{- if $.Param "enableSidebarSeparator" }}
<hr class="hr-fade sidebar-hr"/>
{{- end }}
{{- end }}