{{ range .AlternativeOutputFormats }}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" title="{{ .Name }}" href="{{ .Permalink | safeURL }}">
{{ end }}
<meta name="application-name" content="{{ .Site.Title }}">
<meta name="description" content="{{ $.Param "description" }}" />
{{ with $.Params.keywords }}
<meta name="keywords" content="{{ delimit $.Params.keywords "," }}">
{{ end }}
{{ with $.Params.tags }}
<meta name="keywords" content="{{ delimit $.Params.tags "," }}">
{{ end }}
<meta name="created" content="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">
<meta name="modified" content="{{ .Lastmod.Format "2006-01-02T15:04:05-0700" }}">
<meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">
{{ if $.Param "author" }}
<meta name="author" content="{{ $.Param "author" }}">
<meta property="article:author" content="{{ .Permalink | absLangURL }}@{{ $.Param "author" }}">
{{ else if .Site.Params.bioName }}
<meta name="author" content="{{ .Site.Params.bioName }}">
{{ end }}
{{/* Advised not to be used (against spam robots)
{{ with $.Param "contact" }}<meta name="contact" content="{{ . }}">{{ end }}
*/}}
<!-- Facebook -->
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:url" content="{{ .Permalink | absLangURL }}">
{{/* TODO: handle more types? */}}
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:description" content="{{ $.Param "description" }}">
{{/* TODO: rewrite to avoid having same block 3 times... */}}
{{ if .Params.meta_image }}
  {{ with .Params.meta_image }}
    <meta property="og:image" content="{{ . | absURL }}">
    {{/* TODO: use 'title' or add "image_alt" in params?
    <meta property="og:image:alt" content="!" />
    */}}
    {{/* TODO: useless? => Identical to 'og:image'
    <meta property="og:image:url" content="{{ . | absURL }}">
    */}}
  {{ end }}
{{ else if .Params.image }}
  {{ with .Params.image }}
    <meta property="og:image" content="{{ . | absURL }}">
    {{/* TODO: use 'title' or add "image_alt" in params?
    <meta property="og:image:alt" content="!" />
    */}}
    {{/* TODO: useless? => Identical to 'og:image'
    <meta property="og:image:url" content="{{ . | absURL }}">
    */}}
  {{ end }}
{{ else if $.Param "meta_image" }}
  {{ with $.Param "meta_image" }}
    <meta property="og:image" content="{{ . | absURL }}">
    {{/* TODO: use 'title' or add "image_alt" in params?
    <meta property="og:image:alt" content="!" />
    */}}
    {{/* TODO: useless? => Identical to 'og:image'
    <meta property="og:image:url" content="{{ . | absURL }}">
    */}}
  {{ end }}
{{ end }}
{{/* TODO: Later, if use Facebook app
<meta property="fb:app_id" content="your_app_id..." />
*/}}
<!-- Twitter -->
{{/* TODO: use get from config => if post: "creator"+name, else "site"+site_name
<meta name="twitter:site" content="@website-username...">
*/}}
{{/* TODO: useless? (can use 'og' tags) */}}
<meta property="twitter:title" content="{{ $.Param "title" }}">
<meta property="twitter:description" content="{{ $.Param "description" }}">
<meta name="twitter:card" content="summary_large_image">
{{/* TODO: rewrite to avoid having same block 3 times... */}}
{{ if .Params.meta_image }}
  {{ with .Params.meta_image }}
    {{/* TODO: check for specific twitter image if exist */}}
    <meta name="twitter:image" content="{{ . | absURL }}">
  {{ end }}
{{ else if .Params.image }}
  {{ with .Params.image }}
    {{/* TODO: check for specific twitter image if exist */}}
    <meta name="twitter:image" content="{{ . | absURL }}">
  {{ end }}
{{ else if $.Param "meta_image" }}
  {{ with $.Param "meta_image" }}
    {{/* TODO: check for specific twitter image if exist */}}
    <meta name="twitter:image" content="{{ . | absURL }}">
  {{ end }}
{{ end }}
{{/* TODO: use this? with 'title'? */}}
{{/* TODO: use same as "og": "image_alt"? */}}
<meta name="twitter:image:alt" content="{{ $.Param "title" }}">
{{ hugo.Generator }}
{{ if $.Param "canonicalUrl" }}
<link rel="canonical" href="{{ $.Param "canonicalUrl" | absLangURL }}">
{{ else }}
<link rel="canonical" href="{{ .Permalink | absLangURL }}">
{{ end }}
<!-- Colors and icons -->
{{/* TODO: set Scratch values somewhere! */}}
<meta name="msapplication-TileColor" content="{{ $.Scratch.Get "themeTitleColor" | default "#fff" }}">
<meta name="msapplication-navbutton-color" content="{{ $.Scratch.Get "themeNavbarColor" | default "#fff" }}">
<meta name="theme-color" content="{{ $.Scratch.Get "themeNavbarColor" | default "#fff" }}">
<meta name="apple-mobile-web-app-status-bar-style" content="{{ $.Scratch.Get "themeNavbarColor" | default "#fff" }}">
<link rel="manifest" href="{{ "manifest.json" | relURL }}">
{{/* TODO: add meta for tag "msapplication-config"? */}}
{{ if (fileExists "static/logo/ms-icon.png") -}}
<meta name="msapplication-TileImage" content="logo/ms-icon.png">
{{- end }}
{{ if (fileExists "static/logo/apple-touch-icon.png") -}}
<link rel="apple-touch-icon" href="{{ "logo/apple-touch-icon.png" | relURL }}">
{{- end }}
<link rel="icon" href="{{ "logo/logo.ico" | relURL }}" type="image/x-icon">
{{ if (fileExists "static/logo/logo.png") -}}
<link rel="icon" href="{{ "logo/logo.png" | relURL }}" sizes="any" type="image/png" />
{{- end }}
{{ if (fileExists "static/logo/logo.svg") -}}
<link rel="icon" href="{{ "logo/logo.svg" | relURL }}" sizes="any" type="image/svg+xml" />
{{- end }}
