.alert {
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.125rem;

    @include themify($themes) {
        &-info {
            background-color: themed('alert-info-background-color');
            color: themed('alert-info-text-color');

            &[data-dir="rtl"] {
                border-right: 5px solid themed('alert-info-border-color');
            }

            &[data-dir="ltr"] {
                border-left: 5px solid themed('alert-info-border-color');
            }
        }

        &-success {
            background-color: themed('alert-success-background-color');
            color: themed('alert-success-text-color');

            &[data-dir="rtl"] {
                border-right: 5px solid themed('alert-success-border-color');
            }

            &[data-dir="ltr"] {
                border-left: 5px solid themed('alert-success-border-color');
            }
        }

        &-warning {
            background-color: themed('alert-warning-background-color');
            color: themed('alert-warning-text-color');

            &[data-dir="rtl"] {
                border-right: 5px solid themed('alert-warning-border-color');
            }

            &[data-dir="ltr"] {
                border-left: 5px solid themed('alert-warning-border-color');
            }
        }

        &-danger {
            background-color: themed('alert-danger-background-color');
            color: themed('alert-danger-text-color');

            &[data-dir="rtl"] {
                border-right: 5px solid themed('alert-danger-border-color');
            }

            &[data-dir="ltr"] {
                border-left: 5px solid themed('alert-danger-border-color');
            }
        }
    }
}
