.image {
  //TODO: add other image specific CSS (move from other files)

  /* NOTE: could use 'figcaption' instead, but this allows more flexibility
   * if want different types of captions (by adding more classes)
   */
  &__text {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;

    margin: 0;
    padding-left: 0.2rem;
    padding-right: 0.2rem;

    //TODO: set font!
    //font-family: ...;
/*    font-style: italic;*/
    font-weight: 600;
    font-size: .5em;

    @include themify($themes) {
      color: themed('figcaption-color');
      background-color: themed('figcaption-background-color');
    }

    .inline-caption {
      display: inline;
    }

    .inline-copyright {
      display: inline;
      white-space: nowrap;
      &::before {
        content: "\00a9\2009"; /* Copyright symbol followed by a thin space character */
      }
    }
  }
}


/* TODO(2-REC): Move elsewhere (?) */
.post_image_container {
  position: relative;
}

.post_image {
  cursor: pointer;

  @include themify($themes) {
    /* TODO: used? use other variable? */
    background-color: themed("gallery-mask-background-color");
  }
}

.post_image img {
  width: 100%;
}
