
.featured-slider {
width: 100%;
//height: 300px;
display: block;
}

.slides {
  height: 300px;
}

/* Images */
.slides figure {
  height: 100%;
  overflow:hidden;
}

.slides figure img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

/*
.slides:hover figure img {
    @include animation('zoom-in 20s .0s 1 ease both');
}
*/
.slides:hover .initzoom {
    transform: scale(1.01);
}
.slides:hover .zoom {
    //TODO: set length as param?
    @include animation('zoom-in-hover 40s .0s 1 ease both');
}


/* clearfix hack */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
/* commented backslash */
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}


//TODO: add top margin?
/* =Featured Slider
--------------------------------------------------------------*/
.featured-slider,.featured-slider .slider-cycle {
	position: relative;
}
.featured-slider .displayblock {
	display: block;
}
.featured-slider .displaynone {
	display: none;
}

/////////////////
/*
.featured-slider-header {
width: 100%;
//height: 300px;
display: block;
}

.featured-slider-header,.featured-slider-header .slider-cycle-header {
	position: relative;
}
.featured-slider-header .displayblock {
	display: block;
}
.featured-slider-header .displaynone {
	display: none;
}
*/
/*.featured-slider,.featured-slider .slider-cycle-header {*/
.featured-slider,.slider-cycle-header {
	position: relative;
}
.slide-header {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
/////////////////

/* NOTE: colors are set in child elements: 'featured-text', 'featured-title' & 'featured-content'  */
/*
.slide-textbox {
}
*/

.featured-text {
	position: absolute;
//	top: 10px;
top: 5%;
//	right: 30px;
right: 5%;
	text-align: right;
//	color: #fff;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 20px;
	background: #555;
	background: rgba(0, 0, 0, 0.5);
	margin-top: 4px;
	float: right;
	clear: right;
	width: auto;
	max-width: 50%;
	max-height: 80%;
overflow: hidden;
//	text-shadow: 0 2px 2px rgba(0,0,0,0.4);
	border-radius: 4px;
	border: none;

  @include themify($themes) {
    background-color: themed('featured-background-color');
  }

//  pointer-events: none;
}
/*
.featured-text .featured-title {
	font: 28px Helvetica, sans-serif;
	font-weight: 200;
	padding-bottom: 10px;
	text-shadow: 0 2px 2px rgba(0,0,0,0.6);
}
.featured-text .featured-title a {
	color: #fff;
}
*/
.featured-text .featured-title {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  @include themify($themes) {
    color: themed('featured-title-color');

    @include on-event {
      color: themed('featured-title-hover-color');
    }
  }
}

// If 'underline' here => same in 'tiles.css' for '.box-masonry:hover h1'
/*
.slide-textbox:hover .featured-text .featured-title {
  text-decoration: underline;
}
*/


.featured-text .featured-content {
  font-size: 14px;

  @include themify($themes) {
    color: themed('featured-content-color');
  }
}

/* Prev/Next buttons */
.controllerButton {
  z-index: z('feature-btn');
  position: absolute;
  display: inline-block;
  overflow: hidden;
  width: 32px;
  height: 32px;
  margin: 0;
  top: 50%;
  /* TODO: add other transforms? (moz, etc.) */
  transform: translate(0, -50%);

  pointer-events: auto;

  border-radius: 2px;

  @include themify($themes) {
    color: themed('featured-button-color');
    background-color: themed('featured-button-background-color');
  }
}
.controllerButton:hover {
  @include themify($themes) {
    color: themed('featured-button-hover-color');
    background-color: themed('featured-button-background-hover-color');
  }
}
#controllerPrev {
  left: 0;
}
#controllerNext {
  right: 0;
}

/* Controllers */
#controllers {
  pointer-events: none;

  text-align: center;
  line-height: 0;
  position: absolute;
  width: 100%;
  bottom: 15px;
  z-index: z('feature-btn');
}
#controllers a {
  pointer-events: auto;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  overflow: hidden;
  display: inline-block;
  border-radius: 2px;

  @include themify($themes) {
    background-color: themed('featured-button-background-color');
    color: transparent;
  }
}
#controllers a:hover {
  @include themify($themes) {
    background-color: themed('featured-button-hover-color');
  }
}
#controllers a.active {
  @include themify($themes) {
    background-color: themed('featured-button-color');
  }
}


/* Custom implementations */
/*.attachment-featured.wp-post-image {
	-webkit-transition: all .5s ease;
		 -moz-transition: all .5s ease;
			-ms-transition: all .5s ease;
			 -o-transition: all .5s ease;
					transition: all .5s ease;
}
.attachment-featured.wp-post-image:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: 0.8;
}
article {
	background: #fff;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
*/
/*
article:hover {
    text-decoration: inherit;
}
*/

@media only screen and (max-width: 767px) {
  .featured-content {
    display: none;
  }
  .featured-text {
    padding: 10px;
    width: auto;
    max-width: 75%;
  }
  .featured-text .featured-title {
    font-size: 14px;
  }
/* ??
	#content h1,#content h2,#content h3,#content h4,#content h5,#content h6 {
		padding-bottom: 10px;
	}
*/

/* TODO: hide on mobile? */
/*
.list__main .featured-slider {
display: none;
}
*/
}
