//TODO: ADAPT!

.summary__infos {
  display: block;
  padding-bottom: 0.5em;
  font-size: 12px;

  @include themify($themes) {
    color: themed('meta-color');
  }

  * {
    display:inline-block;
    padding-bottom: 0.125em;
  }
}

.summary__tag {
  padding: 0.25rem;
//  margin: 0 0.25rem 0.5rem;
margin-right: 0.25rem;
margin-bottom: 0.25rem;

  font-size: 0.8rem;
  line-height: 0.8rem;

  border: none;
  border-radius: 0.2rem;
//  cursor: pointer;

  @include themify($themes) {
    color: themed('body-color');
    background-color: themed('taxo-tags-background-color');
  }

  &--wrapper {
    list-style-type: none;
    @include flexbox();
    @include align-items(center);
    @include flex-wrap(wrap);
    @include flex-grow(1);


//    margin-top: 0.75rem;
margin-bottom: 0.5rem;
//  padding: 5px;

//    overflow: hidden;
//    text-overflow: ellipsis;
  }
}


/**************************************************************************************************/

.summary-card {
  @include flexbox();
  @include flex-direction(column);
  padding: 1rem;
  padding-bottom: 0;

  // If have very long words (should avoid if possible, horrible result)
  word-break: break-word;

  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;

  &[data-ani="true"] {
    @include animation('slide-in-down .2s .3s 1 ease-in both');
  }

  &__container {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
//    border-radius: 0.25rem;
//    padding: 0.25rem;
    padding: 5px;

    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);

    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;

    @include transition(all, 0.2s, ease-out);
    @include on-event {
      @include box-shadow(0, 0, 5px, 1px, rgba(0, 0, 0, 0.4));
//      background-color: rgba(125, 125, 125, 0.1);
    }
  }

  .title {
    padding-bottom: 0.25em;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 700;
    //TODO: want?
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  &__content {
    padding: 5px;
  }

  &__text {
    line-height: 1.25;

    padding-bottom: 1em;

    @include themify($themes) {
      color: themed('body-color');
    }
  }

  &__image {
    width: 100%;
    height: 100%;
/*
    &[data-ani="true"] {
      @include animation('slide-in-left .2s .6s 1 ease-in both');
    }
*/
    &-wrapper {
//?      height: 100%;
//?      width: auto;

//      margin: 0 auto;
//      padding: 1rem;
      padding: 5px;
      //TODO: why is it needed?!
      padding-bottom: 0;

      overflow: hidden;
    }
  }
/*
  &__video {
    width: 100%;
    max-height: 500px;
    object-fit: contain;

    &-wrapper {
      padding: 1rem;
      padding-bottom: 0;
    }
  }
*/
/*
  hr {
    margin-top: 1.5rem;
    @include themify($themes) {
        border-top: 1px solid themed('hr-color');
    }
  }
  &:not(:last-child) {
    hr {
      margin-bottom: 2.5rem;      
    }
  }
  &:last-child {
    hr {
      margin-bottom: 2rem;
    }
  }
*/
  &:last-child {
      margin-bottom: 1rem;
  }

  a {
    @include on-event {
      text-decoration: none;
    }
  }
}

.summary-card__container:hover .initzoom {
  transform: scale(1.01);
/*
  @media only screen and (max-width: 500px) {
    transform: scale(1.025);
  }
*/
}
.summary-card__container:hover .zoom {
  //TODO: set length as param?
  @include animation('zoom-in-hover 40s .0s 1 ease both');
}

/**************************************************************************************************/

.summary-classic {
  padding: 0 1rem;
  @include flexbox();
  @include flex-direction(column);

  // If have very long words (should avoid if possible, horrible result)
  word-break: break-word;

  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;

  &[data-ani="true"] {
    @include animation('slide-in-down .2s .3s 1 ease-in both');
  }

  &__flexbox {
    @include flexbox();

    margin-top: 1rem;
//    margin-bottom: 1rem;

    &[data-position="left"] {
      @include justify-content(space-between);
    }
  }

  &__container {
    width: 100%;
//    border-radius: 0.25rem;
//    padding: 0.25rem;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;

    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);

    @include flexbox();
    @include flex-direction(row);
//?    @include justify-content(flex-start);

    @media only screen and (max-width: 500px) {
//      width: 100%;
      @include flexbox();
      @include flex-direction(column);
      @include justify-content(flex-start);
    }

    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;

/*
    &[data-hwm="true"] {
      @media only screen and (max-width: 600px) {
        display: none;
      }
    }
*/
/*
    &[data-position="left"] {
      margin-left: .5rem;
    }

    &[data-position="right"] {
      margin-right: .5rem;
    }
*/
    @include transition(all, 0.2s, ease-out);
    @include on-event {
      @include box-shadow(0, 0, 5px, 1px, rgba(0, 0, 0, 0.4));
//      background-color: rgba(125, 125, 125, 0.1);
    }
  }

  .title {
    padding-bottom: 0.25em;
    font-size: 16px;
    line-height: 1.25;
    //TODO: useful?
    font-weight: 700;
    //TODO: want?
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  &__content {
//background-color: red;
//    width: 100%;
//    padding: 0 0.5rem;
    padding: 5px;
    
//    @include flexbox();
//    @include flex-direction(column);
//    @include justify-content(flex-start);

margin: auto;
margin-top: 0;
//margin-left: 0;
//margin-right: 0;
&[data-dir="ltr"] {
  margin-left: 0;
}
&[data-dir="rtl"] {
  margin-right: 0;
}


  }

  &__text {
    line-height: 1.25;

    @include themify($themes) {
      color: themed('body-color');
    }
  }

  &__image {
    &-wrapper {
      max-width: 130px;
      min-width: 130px;
//      max-height: 130px;
//      min-height: 130px;
//height: 100%;
//display: block;

      padding: 5px;
      //TODO: why is it needed?!
      padding-bottom: 0;


      overflow: hidden;

//      @include align-self(center);
      @media only screen and (max-width: 769px) {
        max-width: 90px;
        min-width: 90px;
      }
@media only screen and (max-width: 500px) {
  max-width: 100%;
  width: 100%;
}
//margin-left: 0;  
  }

/*
    &-wrapper2 {
      height: 100%;
      margin: auto;
    }
*/
  }

  &:last-child {
      margin-bottom: 1rem;
  }

  a {
    @include on-event {
      text-decoration: none;
    }
  }
}

.summary-classic__container:hover .initzoom {
  transform: scale(1.05);

  @media only screen and (max-width: 500px) {
    transform: scale(1.025);
  }
}
.summary-classic__container:hover .zoom {
  //TODO: set length as param?
  @include animation('zoom-in-hover 30s .0s 1 ease both');
}


/**************************************************************************************************/

//TODO
.summary-compact {
  padding: 0 1rem;
  @include flexbox();
  @include flex-direction(column);

  // If have very long words (should avoid if possible, horrible result)
  word-break: break-word;


  &[data-ani="true"] {
    @include animation('slide-in-down .2s .3s 1 ease-in both');
  }

  &__flexbox {
    @include flexbox();
    margin-top: 1rem;
//    margin-bottom: 1rem;

  }

  &__container {
    width: 100%;
//    border-radius: 0.25rem;
//    padding: 0.25rem;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;

    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);

    @include flexbox();
    @include flex-direction(row);
//?    @include justify-content(flex-start);

    @media only screen and (max-width: 500px) {
//      width: 100%;
      @include flexbox();
      @include flex-direction(column);
      @include justify-content(flex-start);
    }

    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;

    @include transition(all, 0.2s, ease-out);
    @include on-event {
      @include box-shadow(0, 0, 5px, 1px, rgba(0, 0, 0, 0.4));
//      background-color: rgba(125, 125, 125, 0.1);
    }
  }


  .title {
    padding-bottom: 0.25em;
    font-size: 16px;
    line-height: 1.25;
    //TODO: useful?
    font-weight: 700;
    //TODO: want?
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  &__content {
//background-color: red;
    width: 100%;
//    padding: 1rem 0;
    padding: 5px;

//? margin: auto;
margin-top: 0;
//margin-left: 0;
//margin-right: 0;

&[data-dir="ltr"] {
  margin-left: 0;
}
&[data-dir="rtl"] {
  margin-right: 0;
}

//    overflow-wrap: break-word;
  }

  &:last-child {
      margin-bottom: 1rem;
  }

  a {
    @include on-event {
      text-decoration: none;
    }
  }

}