//TODO: adapt!
.taxo {
  margin: 2.5rem 0;
  z-index: z('taxo');
  //TODO: Keep? (long words)
  // => See how can add options in CSS
  overflow-wrap: anywhere;

  /* 2-REC: Moved "floating taxo" ("taxo-root") to "sidebar" */
  /*
  &-root {
    position: -webkit-sticky;
    position: sticky;
    top: $grid_navbar_height;
    @include themify($themes) {
      background-color: themed('body-background-color');
    }    
  }
  */

  &__title {
    font-weight: 700;
    font-family: $title-font;
    @include themify($themes) {
      color: themed('taxo-title-color');
      &:hover {
        color: themed('link-hover');
      }
    }
  }

  &__title-nolink {
    font-weight: 700;
    font-family: $title-font;
    @include themify($themes) {
      color: themed('taxo-title-color');
    }
  }

  &__link {
    text-decoration: none !important;   

    &[data-dir="ltr"] {
      .taxo__text {
        border-top-left-radius: 0.175rem;
        border-bottom-left-radius: 0.175rem;
      }
      
      .taxo__num {
        padding: 0.125rem 0.25rem;
        border-top-right-radius: 0.175rem;
        border-bottom-right-radius: 0.175rem;    
      }
    }

    &[data-dir="rtl"] {
      .taxo__text {
        border-top-right-radius: 0.175rem;
        border-bottom-right-radius: 0.175rem;
      }
      
      .taxo__num {
        padding: 0.125rem 0.25rem;
        border-top-left-radius: 0.175rem;
        border-bottom-left-radius: 0.175rem;    
      }
    }
  }

  &__text {
    @include on-event {        
      text-decoration: underline !important;   
    }
    @include themify($themes) {
      color: inherit;
    }
  }

  &__num {
    @include themify($themes) {
      color: themed('taxo-num-color');
      background-color: themed('taxo-num-background-color');    
    }
  }

  .title {
    display: block;
    margin: 0rem;
    margin-right: 0.5rem;
    margin-bottom: 0.25rem;
  }

  .tag {
    margin: 0;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;        
    font-size: 0.8rem;    
    display: inline-block;

    @include themify($themes) {
      color: themed('taxo-title-color');
    }
  }

  .is-filter {
    border-radius: 0.175rem;
    
    @include themify($themes) {
      color: themed('taxo-title-color');
      background-color: themed('taxo-tags-background-color');
    }

    padding: 0.125rem 0.25rem;

    &[data-dir="ltr"] {
      padding: 0.125rem 0 0.125rem 0.25rem;
    }

    &[data-dir="rtl"] {
      padding: 0.125rem 0.25rem 0.125rem 0;
    }
  }

  .is-tags {
    border-radius: 0.175rem;
    
    @include themify($themes) {
      color: themed('taxo-tags-color');
      background-color: themed('taxo-tags-background-color');
    }

    padding: 0.125rem 0.25rem;

    &[data-dir="ltr"] {
      padding: 0.125rem 0 0.125rem 0.25rem;
    }

    &[data-dir="rtl"] {
      padding: 0.125rem 0.25rem 0.125rem 0;
    }
  }

  .is-categories {
    border-radius: 0.175rem;
    
    @include themify($themes) {
      color: themed('taxo-categories-color');
      background-color: themed('taxo-categories-background-color');
    }

    padding: 0.125rem 0.25rem;

    &[data-dir="ltr"] {
      padding: 0.125rem 0 0.125rem 0.25rem;
    }

    &[data-dir="rtl"] {
      padding: 0.125rem 0.25rem 0.125rem 0;
    }
  }

  .is-series {
    border-radius: 0.175rem;
    
    @include themify($themes) {
      color: themed('taxo-series-color');
      background-color: themed('taxo-series-background-color');
    }

    padding: 0.125rem 0.25rem;

    &[data-dir="ltr"] {
      padding: 0.125rem 0 0.125rem 0.25rem;
    }

    &[data-dir="rtl"] {
      padding: 0.125rem 0.25rem 0.125rem 0;
    }
  }
}


/* Hugo Tags Filter */


.filter-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  text-align: center;

  .filter-item {
    &__2 {
      flex-basis: 50%;
      flex-grow: 1;

      @media only screen and (max-width: 769px) {
        flex-basis: 100%;
      }
    }

    &__3 {
      flex-basis: 33%;
      flex-grow: 1;

      @media only screen and (max-width: 769px) {
        flex-basis: 100%;
      }
    }

  }

}


/////////////////////////////////////////////////

.switch-box {
  display: block;
  @include no-select;
}
.switch-label {
  cursor: pointer;
}
.switch-label .active {
  @include themify($themes) {
    color: themed('link-hover');
  }
  font-weight: bold;
}

.switch {
margin: 0;
vertical-align: middle;

/*padding-top: .25rem;*/
  position: relative;
  display: inline-block;
/*  width: 60px;*/
width: 2rem;
/*  height: 34px;*/
height: 1rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
/*  cursor: pointer;*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
/*  background-color: #ccc;*/
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
/*  height: 26px;*/
height: .6rem;
/*  width: 26px;*/
width: .6rem;
/*  left: 4px;*/
left: 0.2rem;
/*  bottom: 4px;*/
bottom: .2rem;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

/* TODO: useless? (overridden)
input:checked + .slider {
  background-color: #2196F3;
}
*/
/* TODO: useless? (overridden)
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
*/

input:checked + .slider:before {
/*
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
*/
-webkit-transform: translateX(.9rem);
-ms-transform: translateX(.9rem);
transform: translateX(.9rem);
}

/* Rounded sliders */
.slider.round {
/*  border-radius: 34px;*/
border-radius: 1rem;
}

.slider.round:before {
  border-radius: 50%;
}

////////////////////////////////////////////////////////////

.tf-filter-item {
    display: none;
}

button {
  background-color: transparent;
  border: 2px solid transparent;

  cursor: pointer;
}

button.active {
/*
  border-color: #ccc;
*/
@include themify($themes) {
  border-color: themed('switch-active-color');
}    
/*
switch-button-color
selection-color
selection-background-color
*/

  border-style: solid;
}

button.disable-button {
  border-style: dashed;
}

/* 2-REC: Hide */
/*
.show-item {
  display: block;
}
*/
.hide-item {
  display: none !important;
}
/**/

.filter-box {
  padding: .5rem;
}