.toc {
  width: 100%;
  max-width: $sidebar-width;
//// BEGIN
// 2-REC: to allow floating in sidebar
//  position: fixed;
//// MID
  top: 7rem;
  font-size: 0.85rem;

  &[data-dir="ltr"] {
    padding-left: 0.5rem;
  }
  &[data-dir="rtl"] {
    padding-right: 0.5rem;
  }
  z-index: z('toc');

  &[data-ani="true"] {
    @include animation('slide-in-down-little .2s .3s 1 ease-in backwards');
  }

  @include no-select;
  
  #TableOfContents {
    position: relative;
  }

  &__flexbox[data-position="fixed"] {
    @include flexbox();
    @include align-items(center);
    position: fixed;

    .toc__title {
      margin-top: 0.75rem;
      &[data-dir="ltr"] {
        margin-left: 0.5rem;
      }
      &[data-dir="rtl"] {
        margin-right: 0.5rem;
      }
    }
  }

  &__flexbox[data-position="absolute"] {
    @include flexbox();
    @include align-items(center);
    position: absolute;
  }

//// BEGIN
// 2-REC: Removed outer toc
//  &__flexbox--outer[data-position="fixed"] {
//    @include flexbox();
//    @include align-items(center);
//    top: 4.2rem;
//    left: 1rem;
//    position: absolute;
//    
//    @media only screen and (max-width: 1300px) {
//      display: none;
//    }
//
//    &[data-ani="true"] {
//      @include animation('slide-in-down-little .2s .3s 1 ease-in backwards');
//    }
//  }
//
//  &__flexbox--outer[data-dir="ltr"] {
//    top: 4.2rem;
//    left: 1rem;
//  }
//
//  &__flexbox--outer[data-dir="rtl"] {
//    top: 4.2rem;
//    right: 1rem;
//
//    .toc__title {
//      margin-top: 0.75rem;
//      margin-left: 0.5rem;
//    }
//  }
//// MID

  &__title {
    font-size: 0.9rem;
    margin-top: 0.5rem;

    &[data-ani="true"] {
      @include animation('slide-in-down-little .2s .3s 1 ease-in backwards');
    }
    
    @include themify($themes) {
      color: themed('toc-label-color');
    }

//// BEGIN
// 2-REC: Removed Mermaid support
//    &--outer {
//      @media only screen and (max-width: 1300px) {
//        display: none;
//      }
//    }
//// MID
  }

  &[data-dir="ltr"] {
    @include themify($themes) {
      a {
        color: themed('toc-vertical-line');
        position: relative;
        text-indent: -1em;

        &::before {
          content: '\2022';
          height: 100%;
          font-weight: 1000;
          position: absolute;
        }
      }

      .active {
        color: themed('toc-vertical-line-active');
        font-weight: 700;
      }
    }

    /* TODO: seems unused? */
    ul {
      @include themify($themes) {
        li {
          li {
            margin-left: .5rem;
            color: themed('sidebar-li-color');
          }
        }
      }
    }
  }

  &[data-dir="rtl"] {
    @include themify($themes) {
      a {
        color: themed('toc-vertical-line');
        position: relative;
        text-indent: -1em;

        &::before {
          content: '\2022';
          height: 100%;
          font-weight: 1000;
          position: absolute;
        }
      }

      .active {
        color: themed('toc-vertical-line-active');
        font-weight: 700;
      }
    }

    /* TODO: seems unused? */
    ul {
      @include themify($themes) {
        li {
          li {
            margin-right: .5rem;
            color: themed('sidebar-li-color');
          }  
        }
      }
    }
  }

  /* TODO: seems unused? */
  ul {
    @include themify($themes) {
      a {
        color: themed('toc-title-color');
        &.active {
          color: themed('toc-vertical-line-active');
        }
      }
    }
  }

//// BEGIN
// 2-REC: Removed Mermaid support
//  &__outer {
//    padding-right: 1rem;
//    padding-left: 2.5rem;
//    max-width: calc((100vw - 980px) / 2);
//
//    @media only screen and (max-width: 1300px) {
//      display: none;
//    }
//  }
//// MID
}

.expand__content {
  #TableOfContents {
    ul {
      list-style-type: circle;
    }
  }
}