{{ define "main" }}
<header class="header basicflex-column">
  <h3 class="gallery__title h3">{{ .Title }}</h3>
  <div class="px py p2 single__contents">
    {{ .Content }}
  </div>
</header>
{{ $root := . }}
{{ $imagesCopyright := .Params.ImagesCopyright }}
{{ if in (lower .Params.Mode) "one" }}
<main class="tile-grid main">
  <div class="grid tile-grid__container gallery__container">
    <div class="grid-sizer"></div>
    {{ range .Params.Images }}
      {{ $image := index ($root.Resources.Match .image) 0 }}
      {{ $copyright := $imagesCopyright }}
      {{ with .copyright }}
        {{ $copyright = . }}
      {{ end }}
      <div class="grid-item">
        <div class="gallery-tile">
          <div class="gallery-tile-image with-hover-overlay {{ if $.Site.Params.galleryInitZoom }}initzoom{{ end }} {{ if $.Site.Params.galleryZoom }}zoom{{ end }}">
            <img src="{{ $image.Permalink }}"
                alt="{{ print .caption }}"
                data-caption="{{ if .caption }}{{ print .caption }}{{ with $copyright }}&nbsp;&hyphen;&nbsp;&copy;&nbsp;{{ . }}{{ end }}{{ else }}{{ with $copyright }}&copy;&nbsp;{{ . }}{{ end }}{{ end }}" />
          </div>
          <div class="gallery-tile-hover-text-header">
            <div class="gallery-tile-description">
              <p>{{ .caption }}</p>
            </div>
          </div>
        </div>
      </div>
    {{ end }}
  </div>
  {{ partial "pagination/pagination-single" . }}
</main>

{{ else if eq (lower .Params.mode) "remote" }}
<main class="tile-grid main">
  <div class="grid tile-grid__container gallery__container">
    <div class="grid-sizer"></div>
    {{ range .Params.Images }}
      {{ $copyright := $imagesCopyright }}
      {{ with .copyright }}
        {{ $copyright = . }}
      {{ end }}
      <div class="grid-item">
        <div class="gallery-tile">
          <div class="gallery-tile-image with-hover-overlay {{ if $.Site.Params.galleryInitZoom }}initzoom{{ end }} {{ if $.Site.Params.galleryZoom }}zoom{{ end }}">
            <img src="{{ .image }}" alt="{{ print .caption }}"
                  data-caption="{{ if .caption }}{{ print .caption }}{{ with $copyright }}&nbsp;&hyphen;&nbsp;&copy;&nbsp;{{ . }}{{ end }}{{ else }}{{ with $copyright }}&copy;&nbsp;{{ . }}{{ end }}{{ end }}" />
          </div>
          <div class="gallery-tile-hover-text-header">
            <div class="gallery-tile-description">
              <p>{{ .caption }}</p>
            </div>
          </div>
        </div>
      </div>
    {{ end }}
  </div>
  {{ partial "pagination/pagination-single" . }}
</main>

{{ else }}
{{ $copyright := $imagesCopyright }}
<main class="tile-grid main">
  <div class="grid tile-grid__container gallery__container">
    <div class="grid-sizer"></div>
    {{ $images := .Resources.Match "images/*" }}
    {{ if gt (len $images) 0 }}
      {{ range $images }}
        {{ if eq .ResourceType "image" }}
          {{ $caption := index (split (index (split .Name "/") (sub (len (split .Name "/")) 1)) ".") 0 }}
          <div class="grid-item">
            <div class="gallery-tile">
              <div class="gallery-tile-image with-hover-overlay {{ if $.Site.Params.galleryInitZoom }}initzoom{{ end }} {{ if $.Site.Params.galleryZoom }}zoom{{ end }}">
                <img src="{{ .Permalink }}" alt="{{ index (split .Name ".") 0 }}"
                    data-caption="{{ print $caption }}{{ with $copyright }}&nbsp;&hyphen;&nbsp;&copy;&nbsp;{{ . }}{{ end }}" />
              </div>
              <div class="gallery-tile-hover-text-header">
                <div class="gallery-tile-description">
                  <p>{{ $caption }}</p>
                </div>
              </div>
            </div>
          </div>
        {{ end }}
      {{ end }}
    {{ end }}
  </div>
  {{ partial "pagination/pagination-single" . }}
</main>

{{ end }}

{{/* 2-REC: removed search */}}
{{ partial "body/photoswipe" . }}
{{ partial "script/tiles-script" . }}
{{ end }}