<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" dir="{{ $.Param "languagedir" | default "ltr" }}"
    prefix="og: http://ogp.me/ns#">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{/* TODO: not useful anymore (?)
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    */}}
    <title>{{ block "title" . }}{{ .Title }} – {{ .Site.Title }}{{ end }}</title>
    {{ partial "head/scripts" . }}    
    {{ partialCached "head/styles" . }}
    {{ partial "head/meta" . }}
    {{ partial "head/meta_json_ld" . }}
    {{ partial "head/services" . }}
    {{ partial "head/custom-head" . }}
</head>

{{ $themeOptions := slice }}
{{ range .Site.Data.theme.themes }}
    {{ $themeOptions = $themeOptions | append .name }}
{{ end }}
<body id="root" class="theme__{{ index $themeOptions 0 }}">
    <script>
        {{/* 2-REC: check if saved 'theme' is valid */}}
        var themes = JSON.parse({{ $themeOptions | jsonify }});
        var localTheme = localStorage.getItem('theme');
        if (localTheme && !themes.includes(localTheme)) {
            localStorage.removeItem('theme');
            localTheme = null
        }
        //var localTheme = localStorage.getItem('theme');
        if (localTheme) {
            document.getElementById('root').className = 'theme__' + localTheme;
        }
    </script>
    <div id="container">
        {{ partial "body/main-left" . }}
        <div class="wrapper" data-type="{{ .Type }}" data-kind="{{ .Kind }}">
            {{ partial "navbar/site-nav" . }}
            {{ partial "header/main-header" . }}
            {{ block "main" . }}{{ end }}
            {{ partial "body/custom-body" . }}
            {{ partial "footer/site-footer" . }}
        </div>
        {{ partial "body/main-right" . }}
    </div>
</body>
<script>
// Hide content until loaded
var bodys = document.querySelectorAll("body");
bodys.forEach(element => {
  element.style.display = "block";
});
</script>
</html>