{{ define "main" }}

{{ $enableSidebar := false }}
{{ $enableSidebarRight := not ($.Param "disableSidebarRight") }}
{{ $enableSidebarLeft := not ($.Param "disableSidebarLeft") }}
{{ $sidebarPosition := "none" }}
{{ if and $enableSidebarRight ($.Param "sidebarListRight") }}
    {{ $enableSidebar = true }}
    {{ if and $enableSidebarLeft ($.Param "sidebarListLeft") }}
        {{ $sidebarPosition = "both" }}
    {{ else }}
        {{ $sidebarPosition = "right" }}
    {{ end }}
{{ else }}
    {{ if and $enableSidebarLeft ($.Param "sidebarListLeft") }}
        {{ $enableSidebar = true }}
        {{ $sidebarPosition = "left" }}
    {{ end }}
{{ end }}
<main class="main inner" data-sidebar-position={{$sidebarPosition}}>
    {{ if $enableSidebar }}
        {{ if or (eq $sidebarPosition "both") (eq $sidebarPosition "left") }}
        <aside class="list__sidebar_l l" data-dir="{{ $.Param "languagedir" | default "ltr" }}">
            {{ partial "sidebar/sidebar-list" (dict "context" . "sidebarComponents" "sidebarListLeft") }}
        </aside>
        {{ end }}
    {{ end }}
    <div class="list__main {{ if $enableSidebar }}{{ if eq $sidebarPosition "both" }}m{{ else if eq $sidebarPosition "left" }}mr{{ else }}lm{{ end }}{{ else }}lmr{{ end }}">
        {{ if $.Param "enableBreadcrumb" }}
            {{ partial "body/breadcrumb" . }}
        {{ end }}
        <header class="list__header">
            <h5 class="list__header--title capitalize h5">{{.Title}}</h5>
        </header>

        <div class="list__header--desc single__contents p2">
            {{ .Content }}
        </div>

        {{ $summaryShape := lower ($.Param "summaryShape") }}
        {{ if $.Param "summaryShapeList" }}
            {{ $summaryShape = lower ($.Param "summaryShapeList") }}
        {{ end }}
        {{ $paginator := .Paginate (where .Pages "Type" .Type).ByWeight }}
        {{ $pages := $paginator.Pages }}
        {{ if not (eq $summaryShape "tiles") }}
        <div class="summary__container" data-display="block">
            {{ range $pages }}
                {{ partial "body/summary" (dict "context" . "summaryShape" $summaryShape) }}
            {{ end }}
            {{ partial "pagination/pagination" . }}
        </div>
        {{ else }}
        {{ partial "summary/tiles" (dict "context" . "pages" $pages) }}
        {{ end }}
    </div>    

    {{ if $enableSidebar }}
        {{ if or (eq $sidebarPosition "both") (eq $sidebarPosition "right") }}
        <aside class="list__sidebar_r r" data-dir="{{ $.Param "languagedir" | default "ltr" }}">
            {{ partial "sidebar/sidebar-list" (dict "context" . "sidebarComponents" "sidebarListRight") }}
        </aside>
        {{ end }}
    {{ end }}
</main>

{{ partial "script/sidebar-script" (dict "context" . "sidebarPosition" $sidebarPosition "sidebarSingle" false) }}
{{ partial "script/list-script" . }}
{{ end }}