{{ define "main" }}
{{/* TODO: make sure it's ok... */}}
{{/* 2-REC - SIDEBAR - BEGIN */}}
{{/*
<main class="single__main {{ if or ($.Param "enableToc") ($.Param "toc") }}{{ if $.Param "hideToc" }}main{{ else if eq ($.Param "tocPosition") "outer" }}main{{ else }}main-main{{ end }}{{ else }}main{{ end }}">
*/}}
{{/* 2-REC - SIDEBAR - MID */}}
{{ $enableSidebar := false }}
{{ $enableSidebarRight := not ($.Param "disableSidebarRight") }}
{{ $enableSidebarLeft := not ($.Param "disableSidebarLeft") }}
{{ $sidebarPosition := "none" }}
{{ if and $enableSidebarRight ($.Param "sidebarSingleRight") }}
    {{ $enableSidebar = true }}
    {{ if and $enableSidebarLeft ($.Param "sidebarSingleLeft") }}
        {{ $sidebarPosition = "both" }}
    {{ else }}
        {{ $sidebarPosition = "right" }}
    {{ end }}
{{ else }}
    {{ if and $enableSidebarLeft ($.Param "sidebarSingleLeft") }}
        {{ $enableSidebar = true }}
        {{ $sidebarPosition = "left" }}
    {{ end }}
{{ end }}
<main class="main inner" data-sidebar-position={{$sidebarPosition}}>
    {{ if $enableSidebar }}
        {{ if or (eq $sidebarPosition "both") (eq $sidebarPosition "left") }}
        <aside class="single__sidebar_l l" data-dir="{{ $.Param "languagedir" | default "ltr" }}">
            {{ partial "sidebar/sidebar-single" (dict "context" . "sidebarComponents" "sidebarSingleLeft") }}
        </aside>
        {{ end }}
    {{ end }}
    <div class="single__main {{ if $enableSidebar }}{{ if eq $sidebarPosition "both" }}m{{ else if eq $sidebarPosition "left" }}mr{{ else }}lm{{ end }}{{ else }}lmr{{ end }}">
{{/* 2-REC - SIDEBAR - END */}}
        {{ if $.Param "hideSingleContentsWhenJSDisabled" }}
        <noscript>
            <div class="single__nojs">
                {{ i18n "nojs-message" }}
            </div>
        </noscript>
        {{ end }}
        <div class="single {{ if $.Param "hideSingleContentsWhenJSDisabled" }}hide{{ end }}">
            <div class="single__nojs">{{ i18n "nojs-message" }}</div>
            <script>document.querySelector('.single').classList.remove('hide'); document.querySelector('.single__nojs').classList.add('hide');</script>
            {{ if or (not .Params.header) (not .Params.header.title) }}
            <h1 class="single__title" data-ani="{{ $.Site.Params.enableUiAnimation | default "true" }}">{{ .Title }}</h1>
            {{ end }}
            <div class="single__meta">
                {{ partial "body/infos" . }}
                {{ partial "body/tags" . }}
            </div>
            <article class="single__contents" data-dir="{{ if ne ($.Param "languagedir") "rtl" }}ltr{{ else }}rtl{{ end }}" data-ani="{{ $.Site.Params.enableUiAnimation | default "true" }}">
                {{ partial "body/toc" . }}
                {{ .Content }}
            </article>
            {{ partial "script/codeblock-script" . }}
            {{ partial "body/share" . }}
            {{ partial "body/donation" . }}
            {{/* TODO: Add other partials */}}
            {{/*
            x {{ partial "body/whoami" . }}
            {{ partial "body/related" . }}
            {{ partial "pagination/pagination-single" . }}
            {{ partial "comments/comments.html" . }}
            */}}
            {{ partial "body/photoswipe" . }}
        </div>
    </div>
    {{/* 2-REC - SIDEBAR - MID */}}
    {{ if $enableSidebar }}
        {{ if or (eq $sidebarPosition "both") (eq $sidebarPosition "right") }}
        <aside class="single__sidebar_r r" data-dir="{{ $.Param "languagedir" | default "ltr" }}">
            {{ partial "sidebar/sidebar-single" (dict "context" . "sidebarComponents" "sidebarSingleRight") }}
        </aside>
        {{ end }}
    {{ end }}
    {{/* 2-REC - SIDEBAR - END */}}
</main>
{{ partial "script/sidebar-script" (dict "context" . "sidebarPosition" $sidebarPosition "sidebarSingle" true) }}
{{ partial "script/single-script" . }}
{{ end }}