{{ define "main" }}

{{/* 2-REC - SIDEBAR - BEGIN */}}
{{/*
<main class="main inner" data-sidebar-position="{{ $.Param "sidebarPosition" }}">
  <div class="list__main {{ if $.Param "enableSidebar" }}{{ if eq ($.Param "sidebarPosition") "left" }}mr{{ else }}lm{{ end }}{{ else }}lmr{{ end }}">
*/}}
{{/* 2-REC - SIDEBAR - MID */}}
{{ $sidebarPosition := "right" }}
{{ if $.Param "sidebarTaxonomyPosition" }}
    {{ $sidebarPosition = $.Param "sidebarTaxonomyPosition" }}
{{ end }}
{{ $enableSidebar := false }}
{{ if $.Param "sidebarTaxonomy" }}
    {{ $enableSidebar = true }}
{{ end }}
<main class="main inner" data-sidebar-position="$sidebarPosition">
    <div class="list__main {{ if $enableSidebar }}{{ if eq $sidebarPosition "left" }}mr{{ else }}lm{{ end }}{{ else }}lmr{{ end }}">
{{/* 2-REC - SIDEBAR - END */}}
    {{/* TODO: breadcrumb
    {{ partial "body/breadcrumb" . }}
    */}}
    <header class="list__header">
      <h5 class="list__header--title capitalize h5">{{ .Title }}</h5>
    </header>
    
    <div class="list__header--desc p2">
      {{.Content}}
    </div>

    <div class="summary__container" data-display="block">
      {{ range .Paginator.Pages.ByWeight }}
        {{ .Render "summary" }}
      {{ end }}
      {{ partial "pagination/pagination" . }}
    </div>
    {{/* 2-REC: removed search */}}
  </div>

  {{/* 2-REC - SIDEBAR - BEGIN */}}
  {{/*
  {{ if $.Param "enableSidebar" }}
    <aside class="list__sidebar {{ if eq ($.Param "sidebarPosition") "left" }}l{{ else }}r{{ end }}" data-dir="{{ $.Param "languagedir" | default "ltr" }}">
      {{ partial "sidebar/sidebar-list" . }}
    </aside>
  {{ end }}
  */}}
  {{/* 2-REC - SIDEBAR - MID */}}
  {{ if $enableSidebar }}
    <aside class="list__sidebar {{ if eq $sidebarPosition "left" }}l{{ else }}r{{ end }}" data-dir="{{ $.Param "languagedir" | default "ltr" }}">
      {{/* TODO: use a different sidebar for taxonomies ('sidebar/sidebar-taxo')! */}}
      {{ partial "sidebar/sidebar-list" . }}
    </aside>
  {{ end }}
  {{/* 2-REC - SIDEBAR - END */}}
</main>

{{ partial "script/sidebar-script" . }}
{{ partial "script/taxo-script" . }}
{{ end }}