{{ if and ($.Param "enableSidebarCategories") (ne (len .Site.Taxonomies.categories) 0) }}
<div class="taxo">
    <section>
        <span class="title p2">
            <a href="{{ "/categories/" | relLangURL }}" class="taxo__title">
                {{ i18n "categories" }}
            </a>
        </span>
        {{ $page := . }}
        {{ range $index, $element := .Site.Taxonomies.categories }}
        {{ if $index }}
            {{ $display := true }}
            {{ if $.Param "singleTaxonomies" }}
                {{ $display = false }}
                {{ range ($page.GetTerms "categories") }}
                    {{ if eq .LinkTitle $element.Page.Title }}
                        {{ $display = true }}
                    {{ end }}
                {{ end }}
            {{ end }}
            {{ if eq $display true }}
            <span class="tag">
                <a href="{{ $element.Page.RelPermalink }}" class="is-categories taxo__link" data-dir="{{ if ne ($.Param "languagedir") "rtl" }}ltr{{ else }}rtl{{ end }}">
                    <span class="taxo__text">
                        {{ $element.Page.Title }}
                    </span>
                    <span class="taxo__num" dir="auto">
                        {{ printf "%#v" (len $element) }}
                    </span>
                </a>
            </span>
            {{ end }}
        {{ end }}
        {{ end }}
    </section>
</div>
{{ if $.Param "enableSidebarSeparator" }}
<hr class="hr-fade sidebar-hr"/>
{{ end }}
{{ end }}