{{ $tags := "" }}
{{ with .context.Params.tags }}
  {{ range . }}
    {{ $tags = print $tags " " (. | replaceRE "[.]" "_" | urlize) }}
  {{ end }}
{{ end }}
{{ $tags = trim $tags " " }}
{{ if eq (len $tags) 0 }}
  {{ $tags = "tfuntagged" }}
{{ end }}

{{ $categories := "" }}
{{ with .context.Params.categories }}
  {{ range . }}
    {{ $categories = print $categories " " (. | replaceRE "[.]" "_" | urlize) }}
  {{ end }}
{{ end }}
{{ $categories = trim $categories " " }}
{{ if eq (len $categories) 0 }}
  {{ $categories = "tfuncategoried" }}
{{ end }}

{{ $series := "" }}
{{ with .context.Params.series }}
  {{ range . }}
    {{ $series = print $series " " (. | replaceRE "[.]" "_" | urlize) }}
  {{ end }}
{{ end }}
{{ $series = trim $series " " }}
{{ if eq (len $series) 0 }}
  {{ $series = "tfunseried" }}
{{ end }}

{{ $authors := "" }}
{{ with .context.Params.author }}
  {{ if eq ( printf "%T" . ) "string" }}
    {{ $authors = . | replaceRE "[.]" "_" | urlize }}
  {{ else if eq ( printf "%T" . ) "[]string" }}
    {{ range . }}
      {{ $authors = print $authors " " (. | replaceRE "[.]" "_" | urlize) }}
    {{end}}
  {{end}}
{{end}}
{{ $authors = trim $authors " " }}
{{ if eq (len $authors) 0 }}
  {{ $authors = "no-author" }}
{{ end }}
<div class="{{ if eq .summaryShape "tiles" }}grid-item {{ end }}tf-filter-item tf-item"
  data-tags="{{ $tags }}"
  data-categories="{{ $categories }}"
  data-series="{{ $series }}"
  data-section="{{ .context.Section }}"
  data-authors="{{ $authors }}"
  >