{{ "<!-- PhotoSwipe -->" | safeHTML }}
{{- if ($.Scratch.Get "photoswipeloaded") }}
{{ $loadPhotswipe := resources.Get "js/load-photoswipe.js" | resources.Minify | resources.Fingerprint }}
<script defer src="{{ $loadPhotswipe.RelPermalink }}"></script>
<script defer src="{{ "plugins/photoswipe/js/photoswipe.min.js" | relURL }}"></script>
<script defer src="{{ "plugins/photoswipe/js/photoswipe-ui-default.min.js" | relURL }}"></script>
{{ end -}}

<script>
    // hide content until loaded
    var bodys = document.querySelectorAll("body");
        bodys.forEach(element => {
          element.style.display = "block";
    });
</script>
