{{ define "main" }}
<header class="header basicflex-column">
  <h3 class="gallery__title h3">{{ .Title }}</h3>
  <div class="px py p2 single__contents">
    {{ .Content }}
  </div>
</header>
{{ $root := . }}
{{ $imagesCopyright := .Params.ImagesCopyright }}
{{ if not .Params.Images }}
  {{ $copyright := $imagesCopyright }}
  <main class="tile-grid main">
    <div class="grid tile-grid__container gallery__container">
      <div class="grid-sizer"></div>
      {{ $images := .Resources.Match "images/*" }}
      {{ if gt (len $images) 0 }}
        {{ range $images }}
          {{ if eq .ResourceType "image" }}
            {{ $caption := index (split (index (split .Name "/") (sub (len (split .Name "/")) 1)) ".") 0 }}
            <div class="grid-item">
              <div class="gallery-tile">
                <div class="gallery-tile-image with-hover-overlay {{ if $.Site.Params.galleryInitZoom }}initzoom{{ end }} {{ if $.Site.Params.galleryZoom }}zoom{{ end }}">
                  <img src="{{ .Permalink }}" alt="{{ index (split .Name ".") 0 }}"
                      data-caption="{{ print $caption }}{{ with $copyright }}&nbsp;&hyphen;&nbsp;&copy;&nbsp;{{ . }}{{ end }}" />
                </div>
                <div class="gallery-tile-hover-text-header">
                  <div class="gallery-tile-description">
                    <p>{{ $caption }}</p>
                  </div>
                </div>
              </div>
            </div>
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
    {{ partial "pagination/pagination-single" . }}
  </main>
{{ else }}
  <main class="tile-grid main">
    <div class="grid tile-grid__container gallery__container">
      <div class="grid-sizer"></div>
      {{ range .Params.Images }}
        {{ $image := .image }}
        {{ if not (hasPrefix .image "http") }}
          {{ $image = index ($root.Resources.Match .image) 0 }}
        {{ end }}
        {{ $copyright := $imagesCopyright }}
        {{ with .copyright }}
          {{ $copyright = . }}
        {{ end }}
        {{- $title := .title -}}
        {{- $caption := .caption | default $title -}}
        {{- /* add copyright to caption */ -}}
        {{- with $copyright -}}
          {{- if $caption -}}
            {{- $caption = print $caption " - &copy; " . -}}
          {{- else -}}
            {{- $caption = print "&copy; " . -}}
          {{- end -}}
        {{- end -}}
        <div class="grid-item">
          <div class="gallery-tile">
            <div class="gallery-tile-image with-hover-overlay {{ if $.Site.Params.galleryInitZoom }}initzoom{{ end }} {{ if $.Site.Params.galleryZoom }}zoom{{ end }}">
              {{/* TODO: make separate partial for figure/image */}}
              <figure>
                {{- if not (hasPrefix .image "http") }}
                <img src="{{ $image.Permalink }}"
                {{ else }}
{{/* TODO: was '.image' (?) */}}
                <img src="{{ $image }}"
                {{ end -}}
                    {{ with .alt | default $caption }} alt="{{ . }}"{{ end }} />
                <a href="{{ $image }}" itemprop="contentUrl"></a>
                {{- /* no 'figcaption' in gallery */ -}}
              </figure>
            </div>
            <div class="gallery-tile-hover-text-header">
              <div class="gallery-tile-description">
                <p>{{ with $title }}{{ . }}{{ end }}</p>
              </div>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
    {{ partial "pagination/pagination-single" . }}
  </main>
{{ end }}
{{ partial "body/load-photoswipe" . }}
{{ partial "script/tiles-script" . }}
{{ end }}
