{{ $ctx := .ctx }}
{{ $share := .share }}
<a class="action__item" data-type="share" target="_blank" rel="noreferrer"
    href="https://twitter.com/intent/tweet?text={{ $ctx.Title }}&url={{ $ctx.Permalink | absLangURL }}{{ with $ctx.Params.tags }}&hashtags={{ delimit . "," }}{{ end }}&via={{ $share.username | default $ctx.Params.author }}"
    title="Twitter"
    aria-label="Twitter Share Button">
  <i aria-hidden="true">{{ partial "svgs/action/twitter.svg" (dict "width" 35 "height" 35) }}</i>
</a>