{{ $ctx := .ctx }}
{{ $share := .share }}
{{/* TODO: way to share directly in app (instead of opening browser)? */}}
<a class="action__item" data-type="share" target="_blank" rel="noreferrer"
    href="https://web.whatsapp.com/send?text={{ $ctx.Title }} - {{ $ctx.Permalink | absLangURL }}"
    title="WhatsApp"
    aria-label="WhatsApp Share Button"
    data-href="{{ $ctx.Permalink | absLangURL }}">
  <i aria-hidden="true" class="share--whatsapp">{{ partial "svgs/share/whatsapp.svg" (dict "width" 35 "height" 35) }}</i>
</a>