.footer {
  padding: 0 0.5rem;
  position: relative;

  @include themify($themes) {
    color: themed('footer-color');
    background-color: themed('footer-background-color');
  }

  &__social {
    padding: 0.5rem 0;
    position: -webkit-sticky;
    position: sticky;
    bottom: 70px;
    
    @include flexbox();
    @include justify-content(center);
  }

  &__poweredby {
    @include flexbox();
    @include align-items(center);
    @include flex-direction(column);
    padding: 0.5rem 0;

    p {
      padding: 0.125rem;
    }
  }

  &__copyright {
    &--img {
      margin-bottom: 0.25rem; 
      
      @include flexbox();
      @include align-items(center);
      @include justify-content(center);
    }
  }

  /* TODO: used? keep? */
  &__link {
    font-size: 0.8rem;
    margin: 0.25rem 0.5rem 0;
  }

  .social {
    margin: 0.25rem;
    a {
      @include themify($themes) {        
        text-decoration: none;
        color: themed('social-icon-color');
        &:hover {
          color: themed('social-icon-hover-color');
          transition: color 0.2s ease;
        }        
      }   
    }
  }

  hr {
    @include themify($themes) {
      border-top: 1px solid themed('footer-hr-color') !important;
    }
  }

  a {
    @include themify($themes) {
      color: themed('footer-link-color');
      &:hover {
        color: themed('footer-link-hover-color');
      }        
    }
  }
}