.header {
  .title {
    font-family: $title-font;
    font-weight: 900;
  }
}

.site-header {
  @include flexbox();
  @include justify-content(center);
  @include flex-direction(column);

  &[data-ani="true"] {
    @include animation('fade-in .15s .1s 1 ease-in both');
  }

  &__title {
    line-height: 1em;
    font-weight: 700;
    font-family: $title-font;

    @include themify($themes) {
      color: themed('terms-title-color');
    }

    &--shadow {
      @include themify($themes) {
        text-shadow: 0px 0px 2px themed('terms-title-shadow-color'),
                     0px 0px 2px themed('terms-title-shadow-color'),
                     0px 0px 2px themed('terms-title-shadow-color');
      }
    }
  }

  &__subtitle {
    line-height: 1em;

    &[data-cursive="true"] {
      font-family: $cursive-font; 
    }

    @include themify($themes) {
      color: themed('terms-title-color');
    }

    &--shadow {
      @include themify($themes) {
        text-shadow: 0px 0px 2px themed('terms-title-shadow-color'),
                     0px 0px 2px themed('terms-title-shadow-color'),
                     0px 0px 2px themed('terms-title-shadow-color');
      }
    }
  }

  &__align-left {
    text-align: left;
  }

  &__align-center {
    text-align: center;
  }

  &__align-right {
    text-align: right;
  }
}