.sidebar {
  margin-top: 1rem;
  //TODO: Keep? (long words)
  // => See how can add options in CSS
  overflow-wrap: break-word;

  /* 2-REC: Moved "floating taxo" ("taxo-root") to here */
  &-float {
    position: -webkit-sticky;
    position: sticky;
    top: $grid_navbar_height + 12px;
    @include themify($themes) {
      background-color: themed('body-background-color');
    }    
  }

  &-recent {
    padding: 0.25rem;

    &__title {
      font-family: $title-font;
      font-weight: 700;
      font-size: 0.95rem;

      @include themify($themes) {
        color: themed('sidebar-title-color');
        &:hover {
          color: themed('sidebar-title-hover-color');
        }
      }
    }

    &__ul {
      margin-left: 0.25rem;
      li {
        text-indent: -0.4em;
        padding-left: 0.5em;
        &::before {
          padding-right: 0.125rem;
          font-size: 1rem;
          display: inline-block;
          content: "\2022";
        }
      }
    }

    &__a {
      font-family: $title-font;
      font-size: 0.95rem;
      @include themify($themes) {
        color: themed('sidebar-li-color');
        &:hover {
          color: themed('sidebar-li-hover-color');
        }
      }
    }
  }

  &-hr {
    margin: 1.5rem 0;
  }

  &__out {
    // 2-REC: no padding on sides
    //margin-top: $grid_navbar_height;
    //padding: 0 1rem;

    width: 100%;
    height: 100%;

    @include flexbox();
    @include flex-direction(column);
  }
}

li.sidebar-recent {
  text-indent: -0.4em;
  padding-left: 0.5em;
  &::before {
    padding-right: 0.125rem;
    font-size: 1rem;
    display: inline-block;
    content: "\2022";
  }
}