{{ $params := .Params }}
<div class="single__infos caption">
  <time title="{{ i18n "tooltip-date" }}"><span class="icon-calendar"></span>{{ .Date.Format (i18n "single-dateformat") }}&nbsp;</time>
  {{ if .Site.Params.metaInfoEdit }}
  {{ if ne (.Date.Format (i18n "summary-dateformat")) (.Lastmod.Format (i18n "summary-dateformat")) }}
  <time title="{{ i18n "tooltip-modified" }}"><span class="icon-edit"></span>{{ .Lastmod.Format (i18n "single-dateformat") }}&nbsp;</time>
  {{ end }}
  {{ end }}
  {{ if .Site.Params.metaInfoReadingTime }}
  <span title="{{ i18n "tooltip-reading-time" }}"><span class="icon-clock"></span>{{ .ReadingTime }}&nbsp;{{ i18n "reading-time" }}&nbsp;</span>
  {{ end }}
  {{ with .Params.Author }}
  <span title="{{ i18n "tooltip-author" }}"><span class="icon-user"></span>{{ . }}&nbsp;</span>
  {{ end }}
  {{ if (and .Site.Params.enableBusuanzi .Site.Params.busuanziPagePV) }}
  <span><span class="icon-eye"></span><span id="busuanzi_value_page_pv">...</span>&nbsp;{{ i18n "counter-page-pv" }}</span>
  {{ end }}
</div>