{{/* TODO: ADAPT PAGE TYPES + CHECK IF NEED SOME CHANGES */}}
{{ $isPad := or (in (slice "archive" "posts" "page") .Type) }}
{{ $isPad = or $isPad (and (eq .Kind "page") (not (in (slice "about" "contact" "publication") .Type))) }}
{{ $isPad = or $isPad (and (eq .Kind "section") (eq .Type "publication")) }}
{{ $isPad = or $isPad (and (eq .Type "tags") (ne .Kind "taxonomyTerm")) }}

{{ if ne ($.Param "languagedir") "rtl" }}
<div class="wrapper__right hide" data-pad="{{ $isPad }}" dir="ltr">
  <script>document.querySelector('.wrapper__right').classList.remove('hide')</script>
</div>
{{ end }}