{{ $image := index ($.Resources.Match .Params.banner) 0 }}
<a class="slide-textbox" href="{{ .Permalink }}" title="{{ .Title }}">
  <figure>
    <img src="{{ $image.Permalink }}"
        class="pngfix wp-post-image {{ if $.Site.Params.sliderInitZoom }}initzoom{{ end }} {{ if $.Site.Params.sliderZoom }}zoom{{ end }}"
        alt="{{ .Title }}"
        title="{{ .Title }}">
    {{ if or .Params.caption .Params.copyright }}
      <div class="image__text">
        {{ if .Params.caption }}
          <p class="inline-caption">{{ .Params.caption | markdownify }}{{ if .Params.copyright }}&nbsp;&ndash;{{ end }}</p>
        {{ end }}
        {{ with .Params.copyright }}
          <p class="inline-copyright">{{ . | markdownify }}</p>
        {{ end }}
      </div>
    {{ end }}
  </figure>
  <article class="featured-text">
    <h4 class="featured-title">{{ .Title }}</h4>
    <div class="featured-content">{{ printf "%s" .Description | markdownify }}</div>
  </article>
</a>
