{{ $image := index ($.Resources.Match .Params.banner) 0 }}
<a class="slide-textbox" href="{{ .Permalink }}" title="{{ .Title }}">
  <figure>
    <img src="{{ $image.Permalink }}"
        class="pngfix wp-post-image {{ if $.Site.Params.sliderInitZoom }}initzoom{{ end }} {{ if $.Site.Params.sliderZoom }}zoom{{ end }}"
        alt="{{ .Title }}"
        title="{{ .Title }}">
  </figure>
  <article class="featured-text">
    <h4 class="featured-title">{{ .Title }}</h4>
    <div class="featured-content">{{ printf "%s" .Description | markdownify }}</div>
  </article>
</a>
