{{ define "title" }}{{ .Site.Title }}{{ end }}

{{ define "main" }}
{{ $enableSidebar := false }}
{{ $enableSidebarRight := not ($.Param "disableSidebarRight") }}
{{ $enableSidebarLeft := not ($.Param "disableSidebarLeft") }}
{{ $sidebarPosition := "none" }}
{{ if and $enableSidebarRight ($.Param "sidebarHomeRight") }}
    {{ $enableSidebar = true }}
    {{ if and $enableSidebarLeft ($.Param "sidebarHomeLeft") }}
        {{ $sidebarPosition = "both" }}
    {{ else }}
        {{ $sidebarPosition = "right" }}
    {{ end }}
{{ else }}
    {{ if and $enableSidebarLeft ($.Param "sidebarHomeLeft") }}
        {{ $enableSidebar = true }}
        {{ $sidebarPosition = "left" }}
    {{ end }}
{{ end }}
<main class="main inner" data-sidebar-position={{$sidebarPosition}}>
    {{ if $enableSidebar }}
        {{ if or (eq $sidebarPosition "both") (eq $sidebarPosition "left") }}
        <aside class="list__sidebar_l l" data-dir="{{ $.Param "languagedir" | default "ltr" }}">
            {{ partial "sidebar/sidebar-home" (dict "context" . "sidebarComponents" "sidebarHomeLeft") }}
        </aside>
        {{ end }}
    {{ end }}
    <div class="list__main {{ if $enableSidebar }}{{ if eq $sidebarPosition "both" }}m{{ else if eq $sidebarPosition "left" }}mr{{ else }}lm{{ end }}{{ else }}lmr{{ end }}">
        {{ partial "body/slider" . }}
        {{ $filteredPages := .Site.RegularPages }}
        {{ range $.Param "notAllowedTypesInHome" }}
            {{ $filteredPages = (where $filteredPages "Type" "!=" (lower .)) }}
        {{ end }}
        {{ $summaryShape := lower ($.Param "summaryShape") }}
        {{ if $.Param "summaryShapeHome" }}
            {{ $summaryShape = lower ($.Param "summaryShapeHome") }}
        {{ end }}
        {{ $paginatorSize := 12 }}
        {{ if eq $summaryShape "card" }}
            {{ $paginatorSize = 4 }}
        {{ else if eq $summaryShape "classic" }}
            {{ $paginatorSize = 8 }}
        {{ else if eq $summaryShape "compact" }}
            {{ $paginatorSize = 12 }}
        {{ else if eq $summaryShape "tiles" }}
            {{/* NOTE: Unfortunately, pagination is static, and thus cannot adapt to screen size.
                       For this reason, with tiles, 12 posts per page has been chosen, as it has the most multiples,
                       and will work for the different grid sizes (1, 2, 3, 4).
                       Though it might still be wrong as the grid tiles don't necessarily have the same sizes,
                       and can be misaligned.
            */}}
            {{ $paginatorSize = 12 }}
        {{ end }}
        {{ $paginator := .Paginate $filteredPages $paginatorSize }}
        {{ $pages := $paginator.Pages }}
        {{ if not (eq $summaryShape "tiles") }}
        <div class="summary__container" data-display="block">
            {{ range $pages }}
                {{ partial "body/summary" (dict "context" . "summaryShape" $summaryShape) }}
            {{ end }}
            {{ partial "pagination/pagination" . }}
        </div>
        {{ else }}
        {{ partial "summary/tiles" (dict "context" . "pages" $pages) }}
        {{ end }}
    </div>

    {{ if $enableSidebar }}
        {{ if or (eq $sidebarPosition "both") (eq $sidebarPosition "right") }}
        <aside class="list__sidebar_r r" data-dir="{{ $.Param "languagedir" | default "ltr" }}">
            {{ partial "sidebar/sidebar-home" (dict "context" . "sidebarComponents" "sidebarHomeRight") }}
        </aside>
        {{ end }}
    {{ end }}
</main>
{{ partial "script/sidebar-script" (dict "context" . "sidebarPosition" $sidebarPosition "sidebarSingle" false) }}
{{ partial "script/home-script" . }}
{{ end }}