{{ define "title" }}{{ .Site.Title }}{{ end }}

{{ define "main" }}
{{ $enableSidebar := false }}
{{ $enableSidebarRight := not ($.Param "disableSidebarRight") }}
{{ $enableSidebarLeft := not ($.Param "disableSidebarLeft") }}
{{ $sidebarPosition := "none" }}
{{ if and $enableSidebarRight ($.Param "sidebarHomeRight") }}
    {{ $enableSidebar = true }}
    {{ if and $enableSidebarLeft ($.Param "sidebarHomeLeft") }}
        {{ $sidebarPosition = "both" }}
    {{ else }}
        {{ $sidebarPosition = "right" }}
    {{ end }}
{{ else }}
    {{ if and $enableSidebarLeft ($.Param "sidebarHomeLeft") }}
        {{ $enableSidebar = true }}
        {{ $sidebarPosition = "left" }}
    {{ end }}
{{ end }}
<main class="main inner" data-sidebar-position="$sidebarPosition">
    {{ if $enableSidebar }}
        {{ if or (eq $sidebarPosition "both") (eq $sidebarPosition "left") }}
        <aside class="list__sidebar_l l" data-dir="{{ $.Param "languagedir" | default "ltr" }}">
            {{ partial "sidebar/sidebar-home" (dict "context" . "sidebarComponents" "sidebarHomeLeft") }}
        </aside>
        {{ end }}
    {{ end }}
    <div class="list__main {{ if $enableSidebar }}{{ if eq $sidebarPosition "both" }}m{{ else if eq $sidebarPosition "left" }}mr{{ else }}lm{{ end }}{{ else }}lmr{{ end }}">
        {{/* TODO: Add "recent posts carousel" */}}
        <div class="summary__container" data-display="block">
            {{ $filteredPages := .Site.RegularPages }}
            {{ range $.Param "notAllowedTypesInHome" }}
                {{ $filteredPages = (where $filteredPages "Type" "!=" (lower .)) }}
            {{ end }}
            {{ $paginator := .Paginate $filteredPages }}
            {{ range $paginator.Pages }}
                {{ .Render "summary" }}
            {{ end }}
            {{ partial "pagination/pagination" . }}
        </div>
        {{/* 2-REC: removed search */}}
    </div>

    {{ if $enableSidebar }}
        {{ if or (eq $sidebarPosition "both") (eq $sidebarPosition "right") }}
        <aside class="list__sidebar_r r" data-dir="{{ $.Param "languagedir" | default "ltr" }}">
            {{ partial "sidebar/sidebar-home" (dict "context" . "sidebarComponents" "sidebarHomeRight") }}
        </aside>
        {{ end }}
    {{ end }}
</main>
{{ partial "script/sidebar-script" (dict "context" . "sidebarPosition" $sidebarPosition "sidebarSingle" false) }}
{{ partial "script/home-script" . }}
{{ end }}