{{ define "title" }}{{ .Site.Title }}{{ end }}

{{ define "main" }}
<main class="main inner" data-sidebar-position="{{ $.Param "sidebarPosition" }}">
    <div class="list__main {{ if $.Param "enableSidebar" }}{{ if eq ($.Param "sidebarPosition") "left" }}mr{{ else }}lm{{ end }}{{ else }}lmr{{ end }}">
        {{/* TODO: Add "recent posts carousel" */}}
        <div class="summary__container" data-display="block">
            {{ $filteredPages := .Site.RegularPages }}
            {{ range $.Param "notAllowedTypesInHome" }}
                {{ $filteredPages = (where $filteredPages "Type" "!=" (lower .)) }}
            {{ end }}
            {{ $paginator := .Paginate $filteredPages }}
            {{ range $paginator.Pages }}
                {{ .Render "summary" }}
            {{ end }}
            {{ partial "pagination/pagination" . }}
        </div>
        {{/* 2-REC: removed search */}}
    </div>

    {{/* TODO: sidebar!
    {{ if $.Param "enableSidebar" }}
        <aside class="list__sidebar {{ if eq ($.Param "sidebarPosition") "left" }}l{{ else }}r{{ end }}" data-dir="{{ $.Param "languagedir" | default "ltr" }}">
            {{ partial "sidebar/sidebar-home" . }}
        </aside>
    {{ end }}
    */}}
</main>
{{/* TODO: sidebar!
{{ partial "script/sidebar-script" . }}
*/}}
{{ partial "script/home-script" . }}
{{ end }}