{{ $masonry := resources.Get "js/masonry.pkgd.min.js" | resources.Fingerprint }}
<script defer src="{{ $masonry.RelPermalink }}"></script>
{{ $imagesloaded := resources.Get "js/imagesloaded.pkgd.min.js" | resources.Fingerprint }}
<script defer src="{{ $imagesloaded.RelPermalink }}"></script>

<script>
  window.onload = function() {
    // ========================= masonry =========================
    var grid = document.querySelector('.grid');
    var msnry = new Masonry(grid, {
      itemSelector: '.grid-item',
      columnWidth: '.grid-sizer',
      percentPosition: true,
    });
    imagesLoaded(grid).on('progress', function () {
      msnry.layout();
    });

    document.querySelectorAll('.grid-item').forEach(function(elem) {
      elem.addEventListener('mouseenter', function() {
        elem.querySelector('.grid-item__desc').style.display = 'block';
        elem.querySelector('.grid-item__desc').style.opacity = 1;
        elem.querySelector('.grid-item__desc--text').onclick = function (e) {
          e.stopPropagation();
          e.target.parentNode.previousElementSibling.click();
        }
        elem.querySelector('.grid-item__desc').onclick = function(e) {
          e.target.previousElementSibling.click();
        }
      });
      elem.addEventListener('mouseleave', function () {
        elem.querySelector('.grid-item__desc').style.opacity = 0;
      });
    });

    // 2-REC: Removed first block - buggy? ("screen and (max-width:1200px)") + fixed sizing issues
    // => Max 4 tiles per row
    enquire.register("screen and (min-width:901px)", {
      match: function () {
        document.querySelectorAll('.grid-item').forEach(function(elem) {
          elem.classList.remove('full');
          elem.classList.remove('half');
          elem.classList.remove('third');
          elem.classList.add('quarter');
          elem.classList.remove('fifth');
        });
        document.querySelectorAll('.grid-sizer').forEach(function (elem) {
          elem.classList.remove('full');
          elem.classList.remove('half');
          elem.classList.remove('third');
          elem.classList.add('quarter');
          elem.classList.remove('fifth');
        });
      },
    }).register("screen and (max-width:900px) and (min-width:701px)", {
      match: function () {
        document.querySelectorAll('.grid-item').forEach(function (elem) {
          elem.classList.remove('full');
          elem.classList.remove('half');
          elem.classList.add('third');
          elem.classList.remove('quarter');
          elem.classList.remove('fifth');
        });
        document.querySelectorAll('.grid-sizer').forEach(function (elem) {
          elem.classList.remove('full');
          elem.classList.remove('half');
          elem.classList.add('third');
          elem.classList.remove('quarter');
          elem.classList.remove('fifth');
        });
      },
    }).register("screen and (max-width:700px) and (min-width:501px)", {
      match: function () {
        document.querySelectorAll('.grid-item').forEach(function (elem) {
          elem.classList.remove('full');
          elem.classList.add('half');
          elem.classList.remove('third');
          elem.classList.remove('quarter');
          elem.classList.remove('fifth');
        });
        document.querySelectorAll('.grid-sizer').forEach(function (elem) {
          elem.classList.remove('full');
          elem.classList.add('half');
          elem.classList.remove('third');
          elem.classList.remove('quarter');
          elem.classList.remove('fifth');
        });
      },
    }).register("screen and (max-width:500px)", {
      match: function () {
        document.querySelectorAll('.grid-item').forEach(function (elem) {
          elem.classList.add('full');
          elem.classList.remove('half');
          elem.classList.remove('third');
          elem.classList.remove('quarter');
          elem.classList.remove('fifth');
        });
        document.querySelectorAll('.grid-sizer').forEach(function (elem) {
          elem.classList.add('full');
          elem.classList.remove('half');
          elem.classList.remove('third');
          elem.classList.remove('quarter');
          elem.classList.remove('fifth');
        });
      },
    });
    // ===========================================================
  }
</script>