<script>
    /* 2-REC - SIDEBARS - BEGIN */
    /*
    {{ $sidebarPosition:= $.Param "sidebarPosition" }}
    var sidebarPosition = JSON.parse({{ $sidebarPosition | jsonify }});
    {{ $enableSidebar:= $.Param "enableSidebar" }}
    var enableSidebar = JSON.parse({{ $enableSidebar | jsonify }});
    */
    /* 2-REC - SIDEBARS - MID */
    /*TODO: refactor more properly */
    {{ $enableSidebar := false }}
    {{ $sidebarPosition := "right" }}
    {{ $sidebarSingle := false }}

    {{ $kind := $.Kind }}
    {{ if eq $kind "home" }}
        {{ if $.Param "sidebarHome" }}
            {{ $enableSidebar = true }}
        {{ end }}
        {{ if $.Param "sidebarHomePosition" }}
            {{ $sidebarPosition = $.Param "sidebarHomePosition" }}
        {{ end }}
    /*TODO: also check if .Type === "posts"? */
    {{ else if eq $kind "page" }}
        {{ if $.Param "sidebarSingle" }}
            {{ $enableSidebar = true }}
            {{ $sidebarSingle = true }}
        {{ end }}
        {{ if $.Param "sidebarSinglePosition" }}
            {{ $sidebarPosition = $.Param "sidebarSinglePosition" }}
        {{ end }}
    /*TODO: also check if .Type === "posts"? */
    {{ else if eq $kind "section" }}
        {{ if $.Param "sidebarList" }}
            {{ $enableSidebar = true }}
        {{ end }}
        {{ if $.Param "sidebarListPosition" }}
            {{ $sidebarPosition = $.Param "sidebarListPosition" }}
        {{ end }}
    {{ else if eq $kind "taxonomy" }}
        {{ if $.Param "sidebarTaxonomy" }}
            {{ $enableSidebar = true }}
        {{ end }}
        {{ if $.Param "sidebarTaxonomyPosition" }}
            {{ $sidebarPosition = $.Param "sidebarTaxonomyPosition" }}
        {{ end }}
    {{ end }}

    var sidebarPosition = JSON.parse({{ $sidebarPosition | jsonify }});
    var enableSidebar = JSON.parse({{ $enableSidebar | jsonify }});
    var sidebarSingle = JSON.parse({{ $sidebarSingle | jsonify }});
    /* 2-REC - SIDEBARS - END */

    var mainElem = document.querySelector('.list__main');
    var sideElem = document.querySelector('.list__sidebar');
    if (sidebarSingle) {
        mainElem = document.querySelector('.single__main');
        sideElem = document.querySelector('.single__sidebar');
    }

    var gridSmall = 'l';
    var gridBig = 'mr';
    var gridFull = 'lmr'

    if (sidebarPosition === "right") {
        gridSmall = 'r';
        gridBig = 'lm'
    }

    enquire.register("screen and (max-width: 769px)", {
        match: function () {
            if (enableSidebar) {
                mainElem.classList.remove(gridBig);
                mainElem.classList.add(gridFull);
                sideElem.classList.remove(gridSmall);
                sideElem.classList.add('hide');
            } else {
                if (mainElem && !mainElem.classList.contains(gridFull)) {
                    mainElem.classList.remove(gridBig);
                    mainElem.classList.add(gridFull);
                }

                if (sideElem && !sideElem.classList.contains('hide')) {
                    sideElem.classList.add('hide');
                }
            }

        },
        unmatch: function () {
            if (enableSidebar) {
                mainElem.classList.remove(gridFull);
                mainElem.classList.add(gridBig);
                sideElem.classList.add(gridSmall);
                sideElem.classList.remove('hide');
            } else {
                if (mainElem && !mainElem.classList.contains(gridFull)) {
                    mainElem.classList.remove(gridBig);
                    mainElem.classList.add(gridFull);
                }

                if (sideElem && !sideElem.classList.contains('hide')) {
                    sideElem.classList.add('hide');
                }
            }

            var navCollapseBtn = document.querySelector('.navbar__burger');
            var navCollapse = document.getElementsByClassName('navbarm__collapse')[0];
            if (navCollapse) {
                navCollapse.setAttribute('data-open', false);
                navCollapse.style.maxHeight = 0;
                navCollapseBtn.classList.remove('is-active');
            }
            if (document.getElementsByClassName('navbar__menu')[0]) {
                document.getElementsByClassName('navbar__menu')[0].classList.remove('is-active');
            }
            {{/* 2-REC: removed search */}}
        },
        setup: function () { },
        deferSetup: true,
        destroy: function () { },
    });
</script>
