<script>
    {{ $sidebarPosition := .sidebarPosition }}
    {{ $sidebarSingle := .sidebarSingle }}
    {{ $enableSidebar := not (eq $sidebarPosition "none") }}

    var sidebarPosition = JSON.parse({{ $sidebarPosition | jsonify }});
    var sidebarSingle = JSON.parse({{ $sidebarSingle | jsonify }});
    var enableSidebar = JSON.parse({{ $enableSidebar | jsonify }});


    var mainElem = document.querySelector('.list__main');
    var sideElemR = document.querySelector('.list__sidebar_r');
    var sideElemL = document.querySelector('.list__sidebar_l');
    if (sidebarSingle) {
        mainElem = document.querySelector('.single__main');
        sideElemR = document.querySelector('.single__sidebar_r');
        sideElemL = document.querySelector('.single__sidebar_l');
    }

    //TODO: make sure '' is ok (for 'add' and 'remove')
    var gridSmallR = '';
    var gridSmallL = '';
    var gridBig = 'lmr';
    var gridFull = 'lmr';

    if (sidebarPosition === "both") {
        gridSmallR = 'r';
        gridSmallL = 'l';
        gridBig = 'm'
    }
    else if (sidebarPosition === "right") {
        gridSmallR = 'r';
        gridBig = 'lm'
    }
    else if (sidebarPosition === "left") {
        gridSmallL = 'l';
        gridBig = 'mr'
    }

    enquire.register("screen and (max-width: 769px)", {
        match: function () {
            if (enableSidebar) {
                mainElem.classList.remove(gridBig);
                mainElem.classList.add(gridFull);
                if (sidebarPosition === "both") {
                    sideElemR.classList.remove(gridSmallR);
                    sideElemR.classList.add('hide');
                    sideElemL.classList.remove(gridSmallL);
                    sideElemL.classList.add('hide');
                }
                else if (sidebarPosition === "right") {
                    sideElemR.classList.remove(gridSmallR);
                    sideElemR.classList.add('hide');
                }
                else if (sidebarPosition === "left") {
                    sideElemL.classList.remove(gridSmallL);
                    sideElemL.classList.add('hide');
                }
            } else {
                if (mainElem && !mainElem.classList.contains(gridFull)) {
                    mainElem.classList.remove(gridBig);
                    mainElem.classList.add(gridFull);
                }

                if (sideElemR && !sideElemR.classList.contains('hide')) {
                    sideElemR.classList.add('hide');
                }
                if (sideElemL && !sideElemL.classList.contains('hide')) {
                    sideElemL.classList.add('hide');
                }
            }

        },
        unmatch: function () {
            if (enableSidebar) {
                mainElem.classList.remove(gridFull);
                mainElem.classList.add(gridBig);
                if (sidebarPosition === "both") {
                    sideElemR.classList.add(gridSmallR);
                    sideElemR.classList.remove('hide');
                    sideElemL.classList.add(gridSmallL);
                    sideElemL.classList.remove('hide');
                }
                else if (sidebarPosition === "right") {
                    sideElemR.classList.add(gridSmallR);
                    sideElemR.classList.remove('hide');
                }
                else if (sidebarPosition === "left") {
                    sideElemL.classList.add(gridSmallL);
                    sideElemL.classList.remove('hide');
                }
            } else {
                if (mainElem && !mainElem.classList.contains(gridFull)) {
                    mainElem.classList.remove(gridBig);
                    mainElem.classList.add(gridFull);
                }

                if (sideElemR && !sideElemR.classList.contains('hide')) {
                    sideElemR.classList.add('hide');
                }
                if (sideElemL && !sideElemL.classList.contains('hide')) {
                    sideElemL.classList.add('hide');
                }
            }

            var navCollapseBtn = document.querySelector('.navbar__burger');
            var navCollapse = document.getElementsByClassName('navbarm__collapse')[0];
            if (navCollapse) {
                navCollapse.setAttribute('data-open', false);
                navCollapse.style.maxHeight = 0;
                navCollapseBtn.classList.remove('is-active');
            }
            if (document.getElementsByClassName('navbar__menu')[0]) {
                document.getElementsByClassName('navbar__menu')[0].classList.remove('is-active');
            }
        },
        setup: function () { },
        deferSetup: true,
        destroy: function () { },
    });
</script>
