{{ $masonry := resources.Get "js/masonry.pkgd.min.js" | resources.Fingerprint }}
<script defer src="{{ $masonry.RelPermalink }}"></script>
{{ $imagesloaded := resources.Get "js/imagesloaded.pkgd.min.js" | resources.Fingerprint }}
<script defer src="{{ $imagesloaded.RelPermalink }}"></script>

<script>
  function removeSizes(elem) {
    elem.classList.remove('full');
    elem.classList.remove('half');
    elem.classList.remove('third');
    elem.classList.remove('quarter');
    elem.classList.remove('fifth');
    elem.classList.remove('sixth');
  };

  window.onload = function() {
    // ========================= masonry =========================
    var grid = document.querySelector('.grid');
    var msnry = new Masonry(grid, {
      itemSelector: '.grid-item',
      columnWidth: '.grid-sizer',
      percentPosition: true,
    });

    imgTotalNum = grid.querySelectorAll('img').length;
    if (imgTotalNum != 0) {
      imagesLoaded(grid).on('progress', function () {
        msnry.layout();
      });
    } else {
      imagesLoaded(grid).on('always', function () {
        msnry.layout();
      });
    }

    /* TODO: validate sizes... (+uniformize 'max-width'/'min-width' everywhere!) */
    enquire.register("screen and (min-width:1201px)", {
      match: function () {
        document.querySelectorAll('.grid-sizer, .grid-item').forEach(function (elem) {
          removeSizes(elem);
          elem.classList.add('quarter');
        });
      },
    }).register("screen and (max-width:1200px) and (min-width:1025px)", {
      match: function () {
        document.querySelectorAll('.grid-sizer, .grid-item').forEach(function (elem) {
          removeSizes(elem);
          elem.classList.add('quarter');
        });
      },
    }).register("screen and (max-width:1024px) and (min-width:769px)", {
      match: function () {
        document.querySelectorAll('.grid-sizer, .grid-item').forEach(function (elem) {
          removeSizes(elem);
          elem.classList.add('third');
        });
      },
    }).register("screen and (max-width:768px) and (min-width:701px)", {
      match: function () {
        document.querySelectorAll('.grid-sizer, .grid-item').forEach(function (elem) {
          removeSizes(elem);
          elem.classList.add('quarter');
        });
      },
    }).register("screen and (max-width:700px) and (min-width:501px)", {
      match: function () {
        document.querySelectorAll('.grid-sizer, .grid-item').forEach(function (elem) {
          removeSizes(elem);
          elem.classList.add('third');
        });
      },
    }).register("screen and (max-width:500px)", {
      match: function () {
        document.querySelectorAll('.grid-sizer, .grid-item').forEach(function (elem) {
          removeSizes(elem);
          elem.classList.add('half');
        });
      },
    });
    // ===========================================================
  }
</script>