{{- $fit := .fit -}}
{{- $height := .height -}}
{{- $multi := .multi }}
<script type='text/javascript'>
    /* flexFont: Resize fonts */
    flexFont = function () {
        var divs = document.getElementsByClassName("flex-font");
        for(var i = 0; i < divs.length; i++) {
            var relFontsize = divs[i].offsetHeight;
            divs[i].style.fontSize = relFontsize + "px";
            divs[i].style.lineHeight = relFontsize + "px";
        }
    };

    {{ if eq $fit "ratio" -}}
    /* fitRatio: Resize components */
    fitRatio = function () {
        var divs = document.getElementsByClassName("fit-ratio");
        for(var i = 0; i < divs.length; i++) {
            var width = divs[i].offsetWidth;
            divs[i].style.height = (width * {{ div $height 100.0 }}) + "px";
        }
    };
    {{- end }}

    /* load event */
    loadFunction = function () {
        {{ if eq $fit "ratio" -}}
        fitRatio();
        {{- end }}
        flexFont();
    };

    if (window.addEventListener) {
        {{/* TODO: "load" or "DOMContentLoaded"? */}}
        window.addEventListener('DOMContentLoaded', loadFunction);
    } else {
        window.attachEvent('onload', loadFunction);
    }

    {{ if $multi -}}
    /* reloadFunction: reload the page*/
    reloadFunction = function() {
        {{ if ne $fit "window" -}}
        if (windowWidth != window.innerWidth) {
            windowWidth = window.innerWidth;
        {{- else -}}
        if (windowHeight != window.innerHeight) {
            windowHeight = window.innerHeight;
        {{- end }}
            window.location.reload();
        }
    };

    var resizeTimer;
    if (window.addEventListener) {
        window.addEventListener('resize', function() {
            clearTimeout(resizeTimer);
            resizeTimer = setTimeout(reloadFunction, 100);
        });
    } else {
        window.attachEvent('onresize', function() {
            clearTimeout(resizeTimer);
            resizeTimer = setTimeout(reloadFunction, 100);
        });
    }

    {{- else -}}
    /* resize event */
    resizeFunction = function () {
        {{ if ne $fit "window" -}}
        /* To avoid page reloaging issues on Android when the address bar collapses, which triggers a resize event */
        if (windowWidth != window.innerWidth) {
            windowWidth = window.innerWidth;
        {{- else -}}
        if (windowHeight != window.innerHeight) {
            windowHeight = window.innerHeight;
        {{- end }}
            {{ if eq $fit "ratio" -}}
            fitRatio();
            {{- end }}
            flexFont();
        }
    };

    if (window.addEventListener) {
        window.addEventListener('resize', resizeFunction);
    } else {
        window.attachEvent('onresize', resizeFunction);
    }

    {{- end }}

{{ if ne $fit "window" -}}
    var windowWidth = window.innerWidth;
{{- else -}}
    var windowHeight = window.innerHeight;
{{- end }}
</script>
