{{- $options := .options }}
<script type='text/javascript'>
    var transition_effect = "fade";
    var transition_delay = 4000;
    var transition_duration = 1000;

    {{ with $options -}}
    {{- if isset . "transition_effect" -}}
        transition_effect = {{ .transition_effect }};
    {{ end -}}
    {{- if isset . "transition_delay" -}}
        transition_delay = {{ .transition_delay }};
    {{ end -}}
    {{- if isset . "transition_duration" -}}
        transition_duration = {{ .transition_duration }};
    {{- end -}}
    {{- end }}

    var slider_value_header = { "transition_effect": transition_effect,
                                "transition_delay": transition_delay,
                                "transition_duration": transition_duration };
</script>
{{ $jquery := resources.Get "js/jquery.min.js" | resources.Fingerprint -}}
<script defer type='text/javascript' src="{{ $jquery.RelPermalink }}"></script>
{{ $jqueryCycle := resources.Get "js/jquery.cycle.all.min.js" | resources.Fingerprint -}}
<script defer type='text/javascript' src="{{ $jqueryCycle.RelPermalink }}"></script>
{{ $slider := resources.Get "js/slider-header-settings.min.js" | resources.Fingerprint -}}
<script defer type='text/javascript' src="{{ $slider.RelPermalink }}"></script>
