{{/*
{{ if $.Params.header }}  
  {{ range $.Params.header }}
    {{ if eq .type "text" }}
      <div class="site-header basicflex-column site-header__align-{{ .align }}" data-ani="{{ $.Site.Params.enableUiAnimation | default "true" }}" style="width: 100%; height: {{ .height }}px; padding: {{ .paddingY }}px {{ .paddingX }}px;">
        {{ $header := . }}
        {{ if .title }}            
          {{ range .title }}
          <div class="site-header__title {{ if $header.titleShadow }}site-header__title--shadow{{ end }}" style="font-size: {{ $header.titleFontSize }}px; {{ with $header.titleColor }}color:{{ . }}{{ end }};">
            {{ . }}
          </div>
          {{ end }}
        {{ end }}
        {{ if .spaceBetweenTitleSubtitle }}
          <div style="height: {{ .spaceBetweenTitleSubtitle }}px"></div>
        {{ end }}
        {{ if .subtitle }}
          {{ range .subtitle }} 
          <div class="site-header__subtitle {{ if $header.subtitleShadow }}site-header__subtitle--shadow{{ end }}" style="font-size: {{ $header.subtitleFontSize }}px; {{ with $header.subtitleColor }}color:{{ . }}{{ end }}" data-cursive="{{ with $header.subtitleCursive }}{{ . }}{{ end }}">
            {{ . }}
          </div>
          {{ end }}      
        {{ end }}
      </div>
    {{ end }}
  {{ end }}
{{ end }}
*/}}


{{ if $.Params.header }}
      {{ range $.Params.header }}
        {{ if eq .type "text" }}
          {{ $height := .height }}
            <div class="site-header__align-{{ .alignX }}" data-ani="{{ $.Site.Params.enableUiAnimation | default "true" }}" style="width: 100%; height: {{ $height }}px;">
              {{ $header := . }}

              {{/* X Padding */}}
              {{ if eq $header.alignX "left" }}
                <div style="padding-left: {{ $header.paddingX }}; height: 100%;">
              {{ else if eq .alignX "right" }}
                <div style="padding-right: {{ $header.paddingX }}; height: 100%;">
              {{ else }}
                {{ $sign := substr $header.paddingX 0 1 }}
                {{ if eq $sign "-" }}
                  <div style="padding-right: {{ substr $header.paddingX 1 }}; height: 100%;">
                {{ else }}
                  <div style="padding-left: {{ $header.paddingX }}; height: 100%;">
                {{ end }}
              {{ end }}

              {{/* Y Align/Padding */}}
              {{ if eq $header.alignY "top" }}
                {{ if ne $header.paddingY 0 }}
                  <div style="height: {{ $header.paddingY }}; opacity: 0;">-</div>
                {{ end }}
              {{ else }}
                {{ $heightPercent := 0 }}
                {{ $heightPixel := 0 }}
                {{ range .title }}
                    {{ with $header.titleFontSize }}
                      {{ $array := partial "header/convert-value.html" . }}
                      {{ $heightPercent = add $heightPercent (index $array 0) }}
                      {{ $heightPixel = add $heightPixel (index $array 1) }}
                      {{/* TODO: remove when bug fixed */}}
                      {{ if ne (index $array 0) 0 }}
                        {{ printf "'%v' unit for font-size incorrectly handled -> Use 'px' instead" "%" }}
                      {{ end }}
                    {{ end }}
                    {{ with $header.titlePaddingY }}
                      {{ $array := partial "header/convert-value.html" . }}
                      {{ $heightPercent = add $heightPercent (index $array 0) }}
                      {{ $heightPercent = add $heightPercent (index $array 0) }}
                      {{ $heightPixel = add $heightPixel (index $array 1) }}
                      {{ $heightPixel = add $heightPixel (index $array 1) }}
                    {{ end }}
                {{ end }}
                {{ with .spaceBetweenTitleSubtitle }}
                  {{ $array := partial "header/convert-value.html" . }}
                  {{ $heightPercent = add $heightPercent (index $array 0) }}
                  {{ $heightPixel = add $heightPixel (index $array 1) }}
                {{ end }}
                {{ range .subtitle }}
                    {{ with $header.subtitleFontSize }}
                      {{ $array := partial "header/convert-value.html" . }}
                      {{ $heightPercent = add $heightPercent (index $array 0) }}
                      {{ $heightPixel = add $heightPixel (index $array 1) }}
                      {{/* TODO: remove when bug fixed */}}
                      {{ if ne (index $array 0) 0 }}
                        {{ printf "'%v' unit for font-size incorrectly handled -> Use 'px' instead" "%" }}
                      {{ end }}
                    {{ end }}
                    {{ with $header.subtitlePaddingY }}
                      {{ $array := partial "header/convert-value.html" . }}
                      {{ $heightPercent = add $heightPercent (index $array 0) }}
                      {{ $heightPercent = add $heightPercent (index $array 0) }}
                      {{ $heightPixel = add $heightPixel (index $array 1) }}
                      {{ $heightPixel = add $heightPixel (index $array 1) }}
                    {{ end }}
                {{ end }}
                {{ $paddingPercent := 0 }}
                {{ $paddingPixel := 0 }}
                {{ with $header.paddingY }}
                  {{ $array := partial "header/convert-value.html" . }}
                  {{ $paddingPercent = (index $array 0) }}
                  {{ $paddingPixel = (index $array 1) }}
                {{ end }}
                {{ if eq $header.alignY "bottom" }}
                  {{ $heightPercent = add $heightPercent $paddingPercent }}
                  {{ $heightPixel = add $heightPixel $paddingPixel }}
                  <div style="height: calc(100% - {{ $heightPercent }}% - {{ $heightPixel }}px); opacity: 0;">-</div>
                {{ else }}
                  {{ $heightPercent = sub (div $heightPercent 2) $paddingPercent }}
                  {{ $heightPixel = sub (div $heightPixel 2) $paddingPixel }}
                  <div style="height: calc(50% - {{ $heightPercent }}% - {{ $heightPixel }}px); opacity: 0;">-</div>
                {{ end }}
              {{ end }}

              {{/* Title */}}
              {{ if .title }}
                {{ $percentPadY := 0 }}
                {{ with .titlePaddingY }}
                  {{ if ne . 0 }}
                    {{ $lastIndex := sub (len .) 1 }}
                    {{ if eq (substr . $lastIndex) "%" }}
                      {{ $percentPadY = substr . 0 $lastIndex }}
                    {{ end }}
                  {{ end }}
                {{ end }}
                {{ range .title }}
                  {{ if $percentPadY }}
                    <div class="site-header__title {{ if $header.titleShadow }}site-header__title--shadow{{ end }}" style="font-size: {{ $header.titleFontSize }}; {{ with $header.titleColor }}color:{{ . }}{{ end }}; padding: calc({{ $height }}px * ({{ $percentPadY }} / 100)) 0;">
                  {{ else }}
                    <div class="site-header__title {{ if $header.titleShadow }}site-header__title--shadow{{ end }}" style="font-size: {{ $header.titleFontSize }}; {{ with $header.titleColor }}color:{{ . }}{{ end }}; padding: {{ $header.titlePaddingY }} 0;">
                  {{ end }}
                      {{ . }}
                    </div>
                {{ end }}
              {{ end }}

              {{/* Space */}}
              {{ with .spaceBetweenTitleSubtitle }}
                {{ if ne . 0 }}
                  {{ $val := string . }}
                  {{ $percentSpace := 0 }}
                  {{ $lastIndex := sub (len $val) 1 }}
                  {{ if eq (substr . $lastIndex) "%" }}
                    {{ $percentSpace = substr . 0 $lastIndex }}
                  {{ end }}
                  {{ if $percentSpace }}
                    <div style="height: calc({{ $height }}px * ({{ $percentSpace }} / 100)); opacity: 0;">-</div>
                  {{ else }}
                    <div style="height: {{ . }}; opacity: 0;">-</div>
                  {{ end }}
                {{ end }}
              {{ end }}

              {{/* Subtitle */}}
              {{ if .subtitle }}
                {{ $percentPadY := 0 }}
                {{ with .subtitlePaddingY }}
                  {{ $lastIndex := sub (len .) 1 }}
                  {{ if eq (substr . $lastIndex) "%" }}
                    {{ $percentPadY = substr . 0 $lastIndex }}
                  {{ end }}
                {{ end }}
                {{ range .subtitle }} 
                  {{ if $percentPadY }}
                    <div class="site-header__subtitle {{ if $header.subtitleShadow }}site-header__subtitle--shadow{{ end }}" style="font-size: {{ $header.subtitleFontSize }}; {{ with $header.subtitleColor }}color:{{ . }}{{ end }}; padding: calc({{ $height }}px * ({{ $percentPadY }} / 100)) 0;" data-cursive="{{ with $header.subtitleCursive }}{{ . }}{{ end }}">
                  {{ else }}
                    <div class="site-header__subtitle {{ if $header.subtitleShadow }}site-header__subtitle--shadow{{ end }}" style="font-size: {{ $header.subtitleFontSize }}; {{ with $header.subtitleColor }}color:{{ . }}{{ end }}; padding: {{ $header.subtitlePaddingY }} 0;" data-cursive="{{ with $header.subtitleCursive }}{{ . }}{{ end }}">
                  {{ end }}
                      {{ . }}
                    </div>
                  {{ end }}
                {{ end }}
              </div>
            </div>


        {{ end }}
      {{ end }}

{{ end }}