{{- $context := .context -}}
{{- $type := .type -}}
{{- if $context.Params.header -}}

    {{- /* Header type check */ -}}
    {{- $index := 0 -}}
    {{- $headerIndex := -1 -}}
    {{- range $context.Params.header -}}
        {{- if eq .type $type -}}
            {{- $headerIndex = $index -}}
        {{- end -}}
        {{- $index = add $index 1 -}}
    {{- end -}}

    {{- if eq $headerIndex -1 -}}
        <div style="height: 1.5em;">{{ printf "Header type '%v' not defined!" $type }}</div>
    {{- else -}}

        {{- $fit := "" -}}
        {{- $height := 0 -}}
        {{- with (index $context.Params.header $headerIndex) -}}
            <section class="featured-slider">
                <div class="slider-cycle-header">
                    {{- /* Fit Parameters */ -}}
                    {{ $fitParameters := partial "header/get-header-fit-parameters.html" . }}
                    {{- if not $fitParameters.ok }}
                        <div>{{ printf "ERROR: %s" $fitParameters.error }}</div>
                    {{ else }}
                        {{- $fit = $fitParameters.fit -}}
                        {{- $height = $fitParameters.height -}}

                        {{- $slides := slice . -}}
                        {{- if eq .type "multi" -}}
                            {{- $slides = .slides -}}
                        {{- end }}

                        {{ range $slides -}}
                            {{- $header := . -}}

                            <div class="slide-holder">
                                {{- /* Initializes header parameters */ -}}
                                {{- $headerAlignX := $header.alignX | default "center" -}}
                                {{- $headerPaddingX := $header.paddingX | default 0 -}}
                                {{- $headerAlignY := $header.alignY | default "center" -}}
                                {{- $headerPaddingY := $header.paddingY | default 0 -}}
                                {{- $headerTitle := $header.title -}}
                                {{- $headerTitleFontSize := $header.titleFontSize -}}
                                {{- $headerTitlePaddingY := $header.titlePaddingY -}}
                                {{- $headerSubtitle := $header.subtitle -}}
                                {{- $headerSubtitleFontSize := $header.subtitleFontSize -}}
                                {{- $headerSubtitlePaddingY := $header.subtitlePaddingY -}}
                                {{- $headerSpaceBetweenTitleSubtitle := $header.spaceBetweenTitleSubtitle -}}

                                {{- /* Get header parameter values */ -}}
                                {{- $headerValues := (dict
                                 "alignX" $headerAlignX
                                 "paddingX" $headerPaddingX
                                 "alignY" $headerAlignY
                                 "paddingY" $headerPaddingY
                                 "title" $headerTitle
                                 "titleFontSize" $headerTitleFontSize
                                 "titlePaddingY" $headerTitlePaddingY
                                 "subtitle" $headerSubtitle
                                 "subtitleFontSize" $headerSubtitleFontSize
                                 "subtitlePaddingY" $headerSubtitlePaddingY
                                 "spaceBetweenTitleSubtitle" $headerSpaceBetweenTitleSubtitle
                                ) -}}
                                {{- $headerSlideParameters := partial "header/get-header-slide-parameters.html" (dict "header" $headerValues "fit" $fit "height" $height) -}}
                                {{- if ne $headerSlideParameters.error "" -}}
                                <div>ERROR: {{ $headerSlideParameters.error }}</div>
                                {{- end -}}

                                {{- /* Initializes mobile header parameters */ -}}
                                {{- $mobileHeaderAlignX := $header.mobile.alignX | default $headerAlignX -}}
                                {{- $mobileHeaderPaddingX := $header.mobile.paddingX | default $headerPaddingX -}}
                                {{- $mobileHeaderAlignY := $header.mobile.alignY | default $headerAlignY -}}
                                {{- $mobileHeaderPaddingY := $header.mobile.paddingY | default $headerPaddingY -}}
                                {{- $mobileHeaderTitleFontSize := $header.mobile.titleFontSize | default $headerTitleFontSize -}}
                                {{- $mobileHeaderTitlePaddingY := $header.mobile.titlePaddingY | default $headerTitlePaddingY -}}
                                {{- $mobileHeaderSubtitleFontSize := $header.mobile.subtitleFontSize | default $headerSubtitleFontSize -}}
                                {{- $mobileHeaderSubtitlePaddingY := $header.mobile.subtitlePaddingY | default $headerSubtitlePaddingY -}}
                                {{- $mobileHeaderSpaceBetweenTitleSubtitle := $header.mobile.spaceBetweenTitleSubtitle | default $headerSpaceBetweenTitleSubtitle -}}

                                {{- /* Get mobile header parameter values */ -}}
                                {{- $mobileHeaderValues := (dict
                                 "alignX" $mobileHeaderAlignX
                                 "paddingX" $mobileHeaderPaddingX
                                 "alignY" $mobileHeaderAlignY
                                 "paddingY" $mobileHeaderPaddingY
                                 "title" $headerTitle
                                 "titleFontSize" $mobileHeaderTitleFontSize
                                 "titlePaddingY" $mobileHeaderTitlePaddingY
                                 "subtitle" $headerSubtitle
                                 "subtitleFontSize" $mobileHeaderSubtitleFontSize
                                 "subtitlePaddingY" $mobileHeaderSubtitlePaddingY
                                 "spaceBetweenTitleSubtitle" $mobileHeaderSpaceBetweenTitleSubtitle
                                ) -}}
                                {{- $mobileHeaderSlideParameters := partial "header/get-header-slide-parameters.html" (dict "header" $mobileHeaderValues "fit" $fit "height" $height) -}}
                                {{- if ne $mobileHeaderSlideParameters.error "" -}}
                                <div>ERROR: {{ $mobileHeaderSlideParameters.error }}</div>
                                {{- end -}}

                                {{- /* Header Slide Style */ -}}
{{/* TODO: check + handle 'titleEnabled' & 'subtitleEnabled' */}}
                                {{- $mainParams := (dict
                                 "fit" $fit
                                 "height" $height
                                 "image" $header.image
                                 "titleColor" $header.titleColor
                                 "subtitleColor" $header.subtitleColor
                                ) -}}

                                {{- /* hide header on mobile if 'mobileHomeHeader' is false */ -}}
                                {{- $mobileSlideParams := $mobileHeaderSlideParameters -}}
                                {{- $mobileHomeHeader := $.context.Site.Params.mobileHomeHeader | default "true" -}}
                                {{- if eq $mobileHomeHeader false -}}
                                    {{- $mobileSlideParams = "" -}}
                                {{- end -}}

                                {{- partial "header/header-slide-style.html" (dict "mainParams" $mainParams "slideParams" $headerSlideParameters "mobileSlideParams" $mobileSlideParams) -}}

                                {{/* Figure */}}
                                <figure class="site-header
                                               {{- if ne $fit "image" -}}
                                               {{- if eq $fit "ratio" }} fit-ratio{{ end -}}
                                               {{- if eq $type "multi" }} slide-header{{ end -}}
                                               {{- end }}"
                                        data-ani="{{ $.context.Site.Params.enableUiAnimation | default "true" }}">
                                    {{ with $header.image -}}
                                        {{- if eq $fit "image" -}}
                                        {{- /* TODO: change copyright handling! */}}
                                        <img class="site-header__image" src="{{ .src | relURL }}" alt="{{ with .caption }}{{ . }}{{ end }}"
                                                data-caption="{{ with .caption }}{{ print . }}{{ end }}{{ with .copyright }}&nbsp;&hyphen;&nbsp;&copy;&nbsp;{{ . }}{{ end }}"/>
                                        {{- end -}}
                                        {{ if or .caption .copyright -}}
                                            <figcaption class="image__text">
                                                {{ if .caption -}}
                                                    <p class="inline-caption">{{ .caption | markdownify }}{{ if .copyright }}&nbsp;&ndash;&nbsp;{{ end }}</p>
                                                {{- end -}}
                                                {{ with .copyright -}}
                                                    <p class="inline-copyright">{{ . | markdownify }}</p>
                                                {{- end }}
                                            </figcaption>
                                        {{- end -}}
                                    {{- end -}}

                                    <div class="site-header__content">

                                        {{- /* X Align/Padding */ -}}
{{- /* TODO: add 'padding-block' class? */ -}}
                                        <div class="padding-x">

                                            {{- /* Y Align/Padding */ -}}
                                            <div class="padding-block padding-y"></div>

                                            {{- /* Title */ -}}
                                            {{- if $header.title -}}
                                                {{- range $header.title -}}
                                                    <div class="padding-block padding-title-top"></div>
                                                    <div class="site-header__title
                                                                {{- if ne $fit "fixed" }} flex-font{{- end -}}
                                                                {{- if $header.titleShadow }} site-header__title--shadow{{ end }}">
                                                        {{- . -}}
                                                    </div>
                                                    <div class="padding-block padding-title-bottom"></div>
                                                {{- end -}}
                                            {{- end -}}

                                            {{- /* Inbetween Space */ -}}
                                            <div class="padding-block space-between"></div>

                                            {{- /* Subtitle */ -}}
                                            {{- if $header.subtitle -}}
                                                {{- range $header.subtitle -}} 
                                                    <div class="padding-block padding-subtitle-top"></div>
                                                    <div class="site-header__subtitle
                                                                {{- if ne $fit "fixed" }} flex-font{{ end -}}
                                                                {{- if $header.subtitleShadow }} site-header__subtitle--shadow{{ end }}">
                                                        {{- . -}}
                                                    </div>
                                                    <div class="padding-block padding-subtitle-bottom"></div>
                                                {{- end -}}
                                            {{- end -}}
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        {{- end -}}
                    {{- end -}}
                </div>
            </section>

            {{- if eq $type "multi" -}}
                {{- partial "header/header-script-multi.html" (dict "options" .options) -}}
            {{- end -}}
            {{- if ne $fit "fixed" -}}
                {{- partial "header/header-script.html" (dict "fit" $fit "height" $height "multi" (eq .type "multi")) -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}
{{- end -}}
