{{/* TODO: add other page types? */}}
{{ if .IsHome }}
  {{ $context := . }}
  {{ with $.Param "homeHeaderType" }}
    <header class="header">
      {{ if eq . "custom" }}
        {{ partial "header/custom-header" $context }}
      {{ else }}
        {{ partial "header/header-slide" (dict "context" $context "type" .) }}
      {{ end }}
    </header>
  {{ end }}
{{ else if eq .Type "posts" }}
  {{ $context := . }}
  {{ with $.Param "header" }}
    <header class="header">
      {{ partial "header/header-post" (dict "context" $context) }}
    </header>
  {{ end }}
{{ end }}