{{ if .IsHome }}
  {{ $context := . }}
  {{ with $.Param "homeHeaderType" }}
    <header class="header">
      {{ if eq . "custom" }}
        {{ partial "header/custom-header" $context }}
      {{ else }}
        {{ partial "header/header-slide" (dict "context" $context "type" .) }}
      {{ end }}
    </header>
  {{ end }}
{{ else if eq .Type "posts" }}
  {{ $context := . }}
  {{ if or ($.Param "header") $.Site.Params.enableBreadcrumb }}
    <header class="header">
      {{ if $.Site.Params.enableBreadcrumb }}
        {{ partial "body/breadcrumb" $context }}
      {{ end }}
      {{ with $.Param "header" }}
        {{ partial "header/header-post" (dict "context" $context) }}
      {{ end }}
    </header>
  {{ end }}
{{ else if .IsNode }}
  {{ if $.Param "enableBreadcrumb" }}
    <header class="header">
      {{ partial "body/breadcrumb" . }}
    </header>
  {{ end }}
{{ end }}