{{ if .IsHome }}
<header class="header">
{{/*
    {{ if and ($.Param "homeHeaderType") (eq ($.Param "homeHeaderType") "slide") }}
        {{ partial "header/header-slide" . }}
    {{ else if and ($.Param "homeHeaderType") (eq ($.Param "homeHeaderType") "img") }}
        {{ partial "header/header-img" . }}
    {{ else if and ($.Param "homeHeaderType") (eq ($.Param "homeHeaderType") "text") }}
        {{ partial "header/header-text" . }}
    {{ else }}
        {{ partial "header/custom-header" . }}
    {{ end }}
*/}}
    {{ if $.Param "homeHeaderType" }}
        {{ if eq ($.Param "homeHeaderType") "custom" }}
            {{ partial "header/custom-header" . }}
        {{ else }}
            {{ partial "header/header-slide" (dict "context" . "type" ($.Param "homeHeaderType")) }}
        {{ end }}
    {{ end }}
</header>
{{ end }}