//TODO: adapt!
.not-found {
  height: 100%;
  font-family: $title-font;

  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  @include flex-direction(column);

/* TODO: add optional background image */
  @include themify($themes) {
    .title {
      color: themed('e404-title-color');
      text-shadow: 1.2px 1.2px 0 themed('e404-title-shadow-color');
    }

    .subtitle {
      color: themed('e404-color');
    }
  }
}