.about{
  position: relative;
  width: 100%;
  padding: 2rem 1rem 0;
  
  @media only screen and (max-width:768px) {
    padding: 1rem;
  }

  &__title {
    margin: 2rem 0;

    @include themify($themes) {
      font-family: themed('title-font', $title-font);
      color: themed('about-title-color');
      /* TODO: could be configurable (?) */
      text-shadow: 1.2px 1.2px 0 themed('about-title-shadow-color');
    }    
  }
}
