//TODO: ADAPT!
.list {
  &__main {
    position: relative;
  
    &[data-display="block"] {
      display: block; 
    }

    &[data-display="none"] {
      display: none;
    }
  }

// DUAL_SIDEBAR - BEGIN
//  &__sidebar {
//    &.l {
//      margin-left: 1rem;
//
//      &[data-dir="rtl"] {
//        margin-left: 0;
//        margin-right: 1rem;
//      }
//
//      &[data-dir="ltr"] {
//        margin-left: 1rem;
//        margin-right: 0;
//      }
//    }
//
//    &[data-dir="rtl"] {
//      margin-left: 1rem;
//      margin-right: 0;
//    }
//
//    &[data-dir="ltr"] {
//      margin-left: 0;
//      margin-right: 1rem;
//    }
//  }
// DUAL_SIDEBAR - MID
//TODO: ???? => no handling of "r"?
  &__sidebar_r {
    &[data-dir="rtl"] {
      margin-left: 1rem;
      margin-right: 0;
    }

    &[data-dir="ltr"] {
      margin-left: 0;
      margin-right: 1rem;
    }
  }

  &__sidebar_l {
    margin-left: 1rem;

    &[data-dir="rtl"] {
      margin-left: 0;
      margin-right: 1rem;
    }

    &[data-dir="ltr"] {
      margin-left: 1rem;
      margin-right: 0;
    }
  }
// DUAL_SIDEBAR - END

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.25rem 0;
    font-family: $title-font;

    &--title {
      margin: 2rem 0;
      font-family: $title-font;

      @include themify($themes) {
        color: themed('list-title-color');
        /* TODO: could be configurable (?) */
        text-shadow: 1.2px 1.2px 0 themed('list-title-shadow-color');
      }    
    }

    &--desc {
      padding: 1rem;
      line-height: 1.7rem;
    }
  }
}