{{- $src := .Get "src" -}}
{{- $caption := .Get "caption" -}}
{{- $copyright := .Get "copyright" -}}
{{- $alt := .Get "alt" | default $caption -}}
{{- with $copyright -}}
  {{- if $alt -}}
    {{- $alt = print $alt (htmlUnescape " - &copy; ") . -}}
  {{- end -}}
{{- end -}}
<div class="post_image_container">
  <figure class="post_image" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <img src={{ $src }} itemprop="thumbnail" {{ with $alt }}alt="{{.}}" {{ end }} />
    {{ with .Get "link" | default $src }}<a href="{{ . }}" itemprop="contentUrl"></a>{{ end }}
    <div class="image__text">
      {{- if $caption }}
      <p class="inline-caption">{{ $caption }}{{ if $copyright }}{{ " - " }}{{ end }}</p>
      {{- end }}
      {{- with $copyright }}
      <p class="inline-copyright">{{ . }}</p>
      {{- end }}
    </div>
  </figure>
</div>
