$light: (
    /* global/general */
    link: #607D8B,
    link-hover: #26A69A,
    hr-color: #CCCCCC,

    selection-color: #FCFCFA,
    selection-background-color: #FF6188,

    backdrop-background-color: #E0E0E0,
    body-background-color: #FAFAFA,
    body-color: #424242,

    /* 'button' shortcode */
    button-default-color: black,
    button-default-hover-color: black,
    button-default-background-color: darken(white, 15%),
    button-default-background-hover-color: darken(white, 30%),
    button-default-border-color: lighten(black, 15%),
    button-default-border-hover-color: black,
    button-primary-color: white,
    button-primary-hover-color: white,
    button-primary-background-color: lighten(black, 15%),
    button-primary-background-hover-color: lighten(black, 30%),
    button-primary-border-color: darken(white, 15%),
    button-primary-border-hover-color: white,

    custom-scrollbar-foreground-color: #cfd8dc,
    custom-scrollbar-background-color: #FCFCFA,

    footer-color: #607d8b,
    footer-background-color: #eeeeee,
    footer-link-color: #607d8b,
    footer-link-hover-color: #26a69a,
    footer-hr-color: white,

    gtt-color: #607d8b,
    gtt-hover-color: #26a69a,
    gtt-background-color: transparent,
    gtt-background-hover-color: white,

    figcaption-color: black,
    figcaption-background-color: white,

    meta-color: #424242,

    /* taxonomies */
    taxo-title-color: #607d8b,
    taxo-active-color: black,
    taxo-num-color: #424242,
    taxo-num-background-color: darken(#eee, 15%),
    taxo-tags-color: #424242,
    taxo-tags-background-color: darken(#eee, 2%),
    taxo-categories-color: #424242,
    taxo-categories-background-color: darken(#eee, 2%),
    taxo-series-color: #424242,
    taxo-series-background-color: darken(#eee, 2%),
    /* 'sections' & 'authors' */
    taxo-filter-color: #424242,
    taxo-filter-background-color: darken(#eee, 2%),

    social-icon-color: #607d8b,
    social-icon-hover-color: #26a69a,

    sidebar-title-color: #607d8b,
    sidebar-title-hover-color: lighten(#607d8b, 15%),
    sidebar-li-color: #424242,
    sidebar-li-hover-color: lighten(#424242, 15%),

    /* sidebar toc */
    toc-title-color: #727072,
    toc-label-color: #727072,
    toc-label-active-color: darken(#727072, 15%),

    /* sidebar bio */
    bio-color: black,
    bio-name-color: black,
    bio-social-icon-color: #bdbdbd,
    bio-social-icon-hover-color: #26a69a,

    /* navigation bar (top) */
    navbar-background-color: #EEEEEE,
    navbar-border-bottom-color: #CCCCCC,
    navbar-title-color: #607D8B,
    navbar-title-hover-color: #26a69a,
    navbar-title-active-color: #26a69a,
    navbar-border-top-color: #e0e0e0,
    navbar-menu-item-hover-background-color: lighten(#eeeeee, 3%),
    navbar-menu-item-hover-color: #607d8b,
    navbar-menu-item-active-background-color: #e0e0e0,
    burger-menu-color: #777,

    /* header slides */
    header-title-color-default: #607d8b,
    header-title-shadow-color-default: #eee,
    header-subtitle-color-default: #607d8b,
    header-subtitle-shadow-color-default: #eee,

    /* home slide */
    featured-background-color: #FFFFFF77,
    featured-title-color: lighten(black, 15%),
    featured-title-hover-color: black,
    featured-content-color: lighten(black, 30%),
    featured-button-background-color: #FFFFFF77,
    featured-button-background-hover-color: darken(white, 15%),
    featured-button-color: lighten(black, 30%),
    featured-button-hover-color: white,

    /* breadcrumb (path) */
    breadcrumb-background-color: #eee,
    breadcrumb-item-color: #555,
    breadcrumb-item-active-color: #aaa,
    breadcrumb-item-hover-color: #607d8b,

    /* single post */
    single-hr-background-color: #bdbdbd,
    single-blockquote-border-color: #bdbdbd,
    single-header-title-color: #424242,
    single-contents-title-color: #607d8b,
    single-contents-subtitle-color: #424242,

    toc-header-background-color: darken(#eee, 1.5%),
    toc-header-background-hover-color: darken(#eee, 3%),
    toc-body-background-color: lighten(#eee, 1.5%),

    content-box-border-color: #aaa,
    content-box-background-color: #eeeeee,

    share-color: #FCFCFA,
    share-shadow-color: #727072,
    share-background-color: #90a4ae,
    action-color: black,
    action-shadow-color: black,
    action-background-color: #eceff1,
    action-popup-background-color: white,
    action-popup-color: black,
    action-popup-border-color: black,

    /* list page */
    list-title-color: #607d8b,
    list-title-shadow-color: #eee,

    /* taxonomy pages */
    terms-title-color: #607d8b,
    terms-title-shadow-color: #eee,
    terms-tags-color: #424242,
    terms-categories-color: #424242,
    terms-series-color: #424242,
    terms-len-color: #727072,

    /* search page */
    switch-background-color: #bdbdbd,
    switch-button-color: #424242,
    switch-active-color: #607d8b,

    /* pagination */
    pagination-background-color: #eee,
    pagination-number-color: #757575,
    pagination-number-hover-color: #424242,
    pagination-number-active-color: #424242,
/* TODO: unused...? => check code in 'pagination' */
/*    pagination-disabled-color: #bdbdbd,*/

    tiles-background-color: rgba(236, 239, 241, 0.85),
    tiles-mask-background-color: rgba(236, 239, 241, 0.85),

    gallery-title-color: #424242,
    gallery-title-shadow-color: #eee,
    gallery-mask-background-color: rgba(236, 239, 241, 0.85),
    gallery-link: black,

/* TODO: 'archive' currently not handled */
/*
    // TODO: add 'archive-title-color' and 'archive-title-shadow-color'?
    archive-key-color: #FCFCFA,
    archive-type-color: #82aaff,
    archive-meta-color: #aed581,
    archive-key-background-color: #FF6188,
    archive-type-background-color: #424242,
    archive-hover-line-color: #FF6188,
*/

    about-title-color: #424242,
    about-title-shadow-color: #eee,

    contact-title-color: #424242,
/* TODO: contact stuff... use form? */
/*
    contact-title-shadow-color: #eee,
    contact-input-color: #424242,
    contact-input-background-color: #eee,
    contact-button-background-color: #eee,
    contact-border-color: #1d1d1d,
*/

    e404-color: black,
    e404-title-color: black,
    e404-title-shadow-color: transparent,

    /* 'alert' shortcode */
    alert-info-background-color: lighten(blue, 30%),
    alert-info-text-color: black,
    alert-info-border-color: blue,
    alert-success-background-color: lighten(green, 30%),
    alert-success-text-color: black,
    alert-success-border-color: green,
    alert-warning-background-color: lighten(yellow, 30%),
    alert-warning-text-color: black,
    alert-warning-border-color: yellow,
    alert-danger-background-color: lighten(red, 30%),
    alert-danger-text-color: black,
    alert-danger-border-color: red,

    /* custom variables (external to theme) */
    /* ... */
);