{{ define "main" }}
{{ $enableSidebar := false }}
{{ $enableSidebarRight := not ($.Param "disableSidebarRight") }}
{{ $enableSidebarLeft := not ($.Param "disableSidebarLeft") }}
{{ $sidebarPosition := "none" }}
{{ if and $enableSidebarRight ($.Param "sidebarSearchRight") }}
  {{ $enableSidebar = true }}
  {{ if and $enableSidebarLeft ($.Param "sidebarSearchLeft") }}
    {{ $sidebarPosition = "both" }}
  {{ else }}
    {{ $sidebarPosition = "right" }}
  {{ end }}
{{ else }}
  {{ if and $enableSidebarLeft ($.Param "sidebarSearchLeft") }}
    {{ $enableSidebar = true }}
    {{ $sidebarPosition = "left" }}
  {{ end }}
{{ end }}
<main class="main inner" data-sidebar-position={{$sidebarPosition}}>
  {{ if $enableSidebar }}
    {{ if or (eq $sidebarPosition "both") (eq $sidebarPosition "left") }}
    <aside class="list__sidebar_l l" data-dir="{{ $.Param "languagedir" | default "ltr" }}">
      {{ partial "sidebar/sidebar-list" (dict "context" . "sidebarComponents" "sidebarSearchLeft" "type" "search") }}
    </aside>
    {{ end }}
  {{ end }}
  <div class="list__main {{ if $enableSidebar }}{{ if eq $sidebarPosition "both" }}m{{ else if eq $sidebarPosition "left" }}mr{{ else }}lm{{ end }}{{ else }}lmr{{ end }}">
  <div class="list__header discovery-header">
    <div>{{ partial "discovery-switcher.html" "search" }}</div>
  </div>
  {{/* TODO: make nicer CSS */}}
  {{ with .Content }}
  <div class="list__header--desc p2">
    {{ . }}
  </div>
  {{ end }}
  <div class="discovery-search" id="search"></div>
  </div>
  {{ if $enableSidebar }}
    {{ if or (eq $sidebarPosition "both") (eq $sidebarPosition "right") }}
      <aside class="list__sidebar_r r" data-dir="{{ $.Param "languagedir" | default "ltr" }}">
        {{ partial "sidebar/sidebar-list" (dict "context" . "sidebarComponents" "sidebarSearchRight" "type" "search") }}
      </aside>
    {{ end }}
  {{ end }}
</main>
{{ partial "script/sidebar-script" (dict "context" . "sidebarPosition" $sidebarPosition "sidebarSingle" false) }}
{{ end }}
